{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  <ul id="glossary_list">
  {% for glossary in glossary_items %}
  <li>{{glossary.term}}&nbsp;{{glossary.description}}&nbsp;<button class="btn edit_glossary_btn" id="{{glossary.id}}">Edit</button> <button class="btn btn-danger delete_glossary_btn" id="{{glossary.id}}">Delete</button></li>
  {% empty %}
  </ul>
  No glossary items entered yet.
  {% endfor %}
</div>
<div id="editarea" style="display:nones;">
  <form method="post" id="update_glossary" name="update_glossary" action="/glossary/edit">
    
    <div class="row-fluid">
      <div class="span1"><label for="term" id="term_label" name="term_label">Term</label></div>
      <div class="span11"><input type="text" id="term" name="term" class="input-xlarge"  placeholder="Term..." value="" /></div>
    </div>

    <div class="row-fluid">
      <div class="span1"><label for="description" id="term_label" name="term_label">Description</label></div>
      <div class="span11"><input type="text" id="description" name="description" class="input-xlarge"  placeholder="Description..." value="" /></div>
    </div>

    <input type="submit" class="btn btn-primary" value="Update">
  </form>
</div>

{% endblock %}
