{% extends "layout/profile.html" %}
{% block javascript %}
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>    
    <script src="{{_base_url}}/static/js/jquery.dataTables.js"></script>
    <script src="{{_base_url}}/static/js/DT_bootstrap.js"></script>
    <script src="{{_base_url}}/static/js/custom/show_profile.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){
        bTable = $('#bookmark-sorted-table').dataTable( {
    	      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    	      "sPaginationType": "bootstrap",
    	      "oLanguage": {
    	          "sLengthMenu": "_MENU_ categories per page",
	              "sEmptyTable": "You have removed all bookmarks."
	          },
    	      "aaSorting": [[ 0, 'asc' ]],
    	      "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        });

        sTable = $('#subscription-sorted-table').dataTable( {
    	      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    	      "sPaginationType": "bootstrap",
    	      "oLanguage": {
    	          "sLengthMenu": "_MENU_ categories per page",
	              "sEmptyTable": "You are no longer following any items."
	          },
    	      "aaSorting": [[ 0, 'asc' ]],
    	      "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        });  

        $('#post-sorted-table').dataTable( {
    	      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    	      "sPaginationType": "bootstrap",
    	      "oLanguage": {
    	          "sLengthMenu": "_MENU_ categories per page"},
    	      "aaSorting": [[ 2, 'desc' ]],
    	      "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        });    
    });
    </script>
{% endblock %}

{% block content %}
{# Uncomment for debugging; it dumps all session variables on screen {{_session}}  #}
<div class="result"></div>
<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; background: #fff;" id="main-section">
  {% if boss_flash %}
  {% for flash in boss_flash %}
  <div class="alert alert-{{flash.method}} fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flash.message }}
  </div>
  {% endfor %}
  {% endif %}
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#following" data-toggle="tab">Following</a></li>
      <li><a href="#my_posts" data-toggle="tab">My Posts</a></li>
      <li><a href="#my_bookmarks" data-toggle="tab">My Bookmarks</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active fade in" id="profile">
	      <div class="page-header">
	        <h2>Your Profile</h2>
	      </div>

	      <div class="row-fluid">
	        <div class="span2">
	          <!-- Hidden comment{# Make sure there are no blanks in the src=" no_blank_prior_and_after " otherwise the path is broken and no avatar/userimage shows up at all. #} -->
	          <!-- <img src="{% if owner.profile.avatar %}/{{owner.profile.avatar}}{% else %}{{owner.profile.userimage}}{% endif %}" height="150px" width="200px" /> -->
	          <img src="{{owner.profile|picture}}" height="150px" width="200px" />
	          <h4>{% trans "Strengths" %}</h4>
	          <ol>
		          <li title="{{s1d.description}}" class="strengths" data-toggle="tooltip" data-placement="right">{{owner.profile.strength1}}</li>
		          <li title="{{s2d.description}}" class="strengths" data-toggle="tooltip" data-placement="right">{{owner.profile.strength2}}</li>
		          <li title="{{s3d.description}}" class="strengths" data-toggle="tooltip" data-placement="right">{{owner.profile.strength3}}</li>
		          <li title="{{s4d.description}}" class="strengths" data-toggle="tooltip" data-placement="right">{{owner.profile.strength4}}</li>
		          <li title="{{s5d.description}}" class="strengths" data-toggle="tooltip" data-placement="right">{{owner.profile.strength5}}</li>
	          </ol>
	        </div>
	        <div class="span10">
	          <h1>{{owner.fullname}}</h1>
	          <p class="lead muted"><a href="mailto:{{owner.email}}">{{owner.email}}</a><br />  {{owner.profile.job_title}}</p>
	          <legend>About me</legend>
	          <pre>{% if owner.profile.about_me %}{{owner.profile.about_me|striptags}}{% else %} This is your about me section. You can edit this so other users can see. {% endif %}</pre>
	          <legend>Signature</legend>
	          <pre>{% if owner.profile.signature %}{{owner.profile.signature|striptags}}{% else %}No signature set yet.{% endif %}</pre>
	        </div>
	      </div>
	      <a href="#myModal" role="button" class="btn btn-primary pull-right" data-toggle="modal" style="margin-top:15px;">{% trans "Edit Profile" %}</a>
	      
	      <!------ Editing Profile Modal ---------------------------------------------------->

	      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h3 id="myModalLabel">Edit Profile</h3>
	        </div>
	        <div class="modal-body">
	          <form method="post" id="edit_profile_form" name="edit_profile_form" action="/profile/edit_profile">
		          <legend>{% trans "About Me" %}</legend>
		          <div class="span12">
		            <textarea name="about_me" id="about_me" class="span12" rows="10" autofocus >{{owner.profile.about_me}}</textarea>
		          </div>
		          <legend>{% trans "Signature" %}</legend>
              <div class="span12">
                <textarea name="signature" id="signature" class="span12" rows="5" autofocus >{{owner.profile.signature}}</textarea>
              </div>
		          <div class="row-fluid">
                <div class="span3 offset9">
                  <input type="submit" id="" name="" class="btn btn-primary span12" value="{% trans "Update Profile" %}" />
                </div>
              </div>
            </form>
 	          <fieldset>
		          <legend>{% trans "Items per Page" %}</legend>
		          <select name="per_page" id="per_page">
		            <option value="" {% if owner.profile.per_page == undefined %}selected="selected"{% endif %} >Entries per page</option>
		            <option value="10" {% if owner.profile.per_page == "10" %}selected="selected"{% endif %}>10</option>
		            <option value="25" {% if owner.profile.per_page == "25" %}selected="selected"{% endif %}>25</option>
		            <option value="50" {% if owner.profile.per_page == "50" %}selected="selected"{% endif %}>50</option>
		            <option value="100" {% if owner.profile.per_page == "100" %}selected="selected"{% endif %}>100</option>
		          </select>
	          </fieldset>
	          <fieldset>
		          <legend>{% trans "UI language" %}</legend>
		          <select name="locale" id="locale">
		            <option value="" {% if owner.profile.per_page == undefined %}selected="selected"{% endif %} >Select your language</option>
		            <option value="en" {% if owner.profile.locale == "en" %}selected="selected"{% endif %}>English (US)</option>
		            <option value="de" {% if owner.profile.locale == "de" %}selected="selected"{% endif %}>Deutsch</option>
		            <option value="es" {% if owner.profile.locale == "es" %}selected="selected"{% endif %}>Espanol</option>
		          </select>
		          <!-- </form> -->
	          </fieldset>
	          
	          {% if not owner.profile.avatar %}
	          <form method="post" id="edit_avatar" name="edit_avatar" action="/main/edit_avatar" enctype="multipart/form-data">
    		      <fieldset>
    		        <legend>{% trans "No Custom Avatar Selected" %}</legend>
		            <!-- <img src="{{owner.profile.userimage}}" class="img img-round" alt="LDAP Userimage" /> -->
                <img src="{{owner.profile|picture}}" class="img img-round" alt="LDAP Userimage" />
   		          <label>{% trans "Upload Avatar" %}</label>
    		        <input type="file" name="fileField">
    		        <span class="help-block">Image file size limit is 2mb.</span>
    		        <input type="submit" name="submit" value="Submit" class="btn btn-primary">
    		      </fieldset>
		          {% else %}
		          <div id="current_avatar">
		            <!-- <img src="{{_base_url}}/{{owner.profile.avatar}}" class="img img-round" alt="Avatar" height="120" width="160" /> -->
                <img src="{{owner.profile|picture}}" class="img img-round" alt="Avatar" height="120" width="160" />
		            <button class="btn btn-inverse" id="back_to_userimage" name="back_to_userimage" value="{{owner.id}}" >{% trans "Revert to LDAP Userimage" %}</button>
		          </div>
		          {% endif %}
	          </form>
	        </div>
	      </div>
      </div>


      <!-- Following Tab Content -------------------------------------------->
      <div class="tab-pane fade in" id="following">
	      <div class="page-header">
	        <h2>Items you are following <small><span class="muted">You will receive email notifications on the following</span></small></h2>
	      </div>
	      {% if owner.subscriptions %}
	      <table class="table table-striped" name="sorted-table" id="subscription-sorted-table">
	        <thead>
	          <tr>
	            <th class="span6">Name</th>
	            <!-- <th>Frequency</th> -->
	            <!-- <th></th> -->
	            <th>Delete</th>
	          </tr>
	        </thead>
	        <tbody>
	          {% for subscription in owner.subscriptions %}
	          <tr>
	            {% if "channel" in subscription.object %}<td><a href="{% url controller="forum" action="show_forums" id=subscription.object %}"><strong>Channel - {{subscription.object|show_name}}</strong></a></td>
	            {% else %}
	            {% if "forum" in subscription.object %}<td><a href="{% url controller="forum" action="show_threads" id=subscription.object %}">Forum - {{subscription.object|show_name}}</a></td>
	            {% else %}
	            {% if "thread" in subscription.object %}<td><a href="{% url controller="forum" action="show_topics" id=subscription.object %}">Thread - {{subscription.object|show_name}}</a></td>
	            {% endif %}{% endif %}{% endif %}	      
	            <!-- <td> -->
	            <!-- 	{% if subscription.frequency == "1" %}Immediate{% else %}{% if subscription.frequency == "2" %}Daily{% else %}{% if subscription.frequency == "3" %}Weekly{% endif %}{% endif %}{% endif %} -->
	            <!-- </td> -->
	            <!-- <td> -->
	            <!-- 	<select> -->
	            <!-- 	  <option selected="selected"></option> -->
	            <!-- 	  <option class="frequency_auto" subscription="{{subscription.id}}" value="1">Automatic</option> -->
	            <!-- 	  <option class="frequency_daily" subscription="{{subscription.id}}" value="2">Daily</option> -->
	            <!-- 	  <option class="frequency_weekly" subscription="{{subscription.id}}" value="3">Weekly</option> -->
	            <!-- 	</select> -->
	            <!-- </td> -->
	            <td><a href="#" class="unfollow_btn" subject="{{subscription.id}}" title="Delete Follow" ><i class="icon-remove-sign"></i></a></td>
	          </tr>
	          {% endfor %}
	        </tbody>
	      </table>
	      {% else %}
	      You are not following any items yet.
	      {% endif %}
      </div>

      <!---- My Posts Tab Content ----------------------->

      <div class="tab-pane fade in" id="my_posts">
	      <div class="page-header">
	        <h2>Your Posts</h2>
	      </div>
        {% if posts %}
        <table class="table table-striped" name="post-sorted-table" id="post-sorted-table">
  	      <thead>
	          <tr>
	            <th>Thread Name</th>
	            <th>Post</th>
	            <th>Date</th>
	            <th>Votes</th>
	          </tr>
	        </thead>
	        <tbody>
	          {% for post in posts %}
	          <tr>
	            <td><a href="{% url controller="forum" action="show_topics" id=post.thread_id %}">{{post.thread.name}}</a></td>
	            <td>{{post.body|striptags|truncatechars:100}}</td>
	            <td>{{post.created_on|localtime}}</td>
	            <td>{% if post.votes %}{{post.votes}}{% endif %}</td>
	          </tr>
	          {% endfor %}
	        </tbody>
        </table>
        {% else %}
        You have not made any posts Yet.
        {% endif %}
      </div>
      
      <!------------  My Bookmarks Tab Content -------------------------->
      <div class="tab-pane fade in" id="my_bookmarks">
	      <div class="page-header">
	        <h2>Your Bookmarks</h2>
	      </div>
	      {% if bookmarks %}
	      <table class="table table-striped" name="bookmark-sorted-table" id="bookmark-sorted-table">
	        <thead>
	          <tr>
	            <th>Name</th>
	            <th>Delete</th>
	          </tr>
	        </thead>
	        <tbody>
	          {% for bookmark in bookmarks %}
	          <tr>
	            {% if "channel" in bookmark.object %}
	            <td>
		            <a href="{% url controller="forum" action="show_forums" id=bookmark.object %}"><strong>Channel - {{bookmark.object|show_name}}</strong></a>
	            </td>
	            {% else %}
	            {% if "forum" in bookmark.object %}
	            <td>
		            <a href="{% url controller="forum" action="show_threads" id=bookmark.object %}">Forum - {{bookmark.object|show_name}}</a>
	            </td>
	            {% else %}
	            {% if "thread" in bookmark.object %}
	            <td>
		            <a href="{% url controller="forum" action="show_topics" id=bookmark.object %}">Thread - {{bookmark.object|show_name}}</a>
	            </td>
	            {% endif %}{% endif %}{% endif %}
	            <td>
		            <a href="#" class="unfollow_btn" subject="{{bookmark.id}}" title="Delete"><i class="icon-remove-sign"></i>
	            </td>
	          </tr>
	          {% endfor %}
	        </tbody>
	      </table>
	      {% else %}
	      You have no items bookmarked.
	      {% endif %}
      </div>
    </div>

{% endblock %}
