.categorytitle {
	background: #eee;
	padding: 12px 15px;
	font-size: 20px;
	font-weight: 400;
	color: #c40022;
	margin-bottom: 0px;
	text-shadow: 0 1px 1px #eee;
	border-radius: 3px;
	box-shadow: 0 0 3px #ccc inset;
}
.categorytitle:hover {
	background: #aaa;
}
.categorytitle a {
	text-decoration: none;
	color: #c40022;
	font-size: 20px;
}
.categorytitle a:link,
.categorytitle a:visited {

	text-decoration: none;
	color: #c40022;
}