/* Header */
#header {
    height: 77px;
    position: relative;
    width: 100%;
    z-index: -9;
}

#header h1 {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
    top: 24px;
    width: 191px;
}

#header h1 a {
    display: block;
}

#search {
    position: absolute;
    z-index: 25;
    top: 6px;
    left: 230px;
}
#search input[type=text] {
    border-radius: 4px 0 0 4px;
    padding: 4px 10px 5px;
    border: 0;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(255,255,255,0.2); 
    width: 100px;
}

#search button {
    border: 0;
    margin-top: -11px;
    padding: 5px 10px 4px;
    border-radius: 0 4px 4px 0;
    box-shadow: -2px 2px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(255,255,255,0.2); 
}
#search button i {
    opacity: 0.5;
}
#search button:hover i, #search button:active i {
    opacity: 0.9;
}
/* Top user navigation */
#user-nav {
    position: absolute;
    right: 30px;
    top: 5px;
    z-index: 20;
    margin: 0;
}
#user-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
}

#user-nav > ul > li > a {
    padding: 5px 10px;
    display: block;
    font-size: 10px;
}

#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
    color: #ffffff;
}
#user-nav > ul > li > a > i, #sidebar li a i {
    vertical-align: top;
    background-image: url('../img/glyphicons-halflings-white.png');
    opacity: .5;
    margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
    opacity: 1;
}

#user-nav > ul > li > a > .label {
    vertical-align: middle;
    padding: 1px 4px 1px;
    margin: -2px 4px 0;
    display: inline-block;
}


#user-nav > ul ul > li > a {
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
}
#user-nav > ul ul > li > a:hover {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}


#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 220px;
    z-index: 16;
}

#sidebar > ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    position: absolute;
    width: 220px;
}
#sidebar > ul > li {
    display: block; 
    position: relative;
}

#sidebar > ul > li.active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}

#sidebar > ul > li > a {
    padding: 10px 0 10px 15px;
    display: block;
    color: #AAAAAA;
}

#sidebar > ul > li > a > i {
    margin-right: 10px;
}

#sidebar > ul > li.active > a {
    background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}

#sidebar > ul > li > a > .label {
    margin: 0 20px 0 0;
    float: right;
    padding: 3px 5px 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}

#sidebar > ul ul {
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
}
#sidebar > ul li.open ul {
    display: block;
}
#sidebar > ul ul li a{
    padding: 10px 0 10px 25px;
    display: block;
    color: #777777;
}

#sidebar > ul ul li:first-child a {
    border-top: 0;
}
#sidebar > ul ul li:last-child a {
    border-bottom: 0;
}


#content {
    background: none repeat scroll 0 0 #eeeeee;
    margin-left: 220px;
    margin-right: 0;
    padding-bottom: 25px;
    position: relative;
    min-height: 500px;
    width: auto;

    border-top-left-radius: 8px;
}

#content-header {
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FFFFFF), to(#EEEEEE));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    border-top-left-radius: 8px;
    height: 80px;
    position: abslute;
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}

#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    float: left;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    position: absolute;
}

#content-header .btn-group {
	float: right;
	right: 20px;
	position: absolute;
}

#content-header h1, #content-header .btn-group {
	margin-top: 20px;
}
#content-header .btn-group .btn {
	padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
	position: absolute;
	top: -7px;
}
