/*.bubble{
    background-color: #fff;
    border-radius: 5px;
  box-shadow: 1px 1px 3px #B2B2B2;
    display: inline-block;
  border: 1px solid #ccc;
    position: relative;
    vertical-align: top;
}
*/
#solvedtopic pre {
    border: 1px solid #1ea544;
}

.user_info img {
    height: 53px;
}
.opacity_btn {
    border: 0;
    box-shadow: 0;
    background: #eee;
    color: #333;
    padding: 3px 10px;
    position: relative;
    top: 44px;
    left: -1px;

}
.opacity_btn:hover {
    background: #1ea544;
    color: #fff;
}
.thread_user {
    font-size: 20px;
    padding-top: 5px;
}
.thread_user small {
    font-size: 15px;
}
.comments {
    margin-top: 15px;
}
.comments pre {
    padding: 10px 55px 10px 10px;
    border-radius: 0;
    background: #fff;
    word-break: normal;
}

.nav-tabs {
    border: 0;
    margin-bottom: 15px;
}

.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover {
    border: 0;
    border-bottom: 2px solid #08C;
}


.vote_up_btn {
    border: 0;
    box-shadow: 0;
    background:  #eee;
    color: #555;
    padding: 3px 10px;
    position: relative;
    top: 44px;
    left: -1px;
}
.vote_up_btn:hover {
    background: #999;
    color: #fff;
}
.voted {
    background: #08c;
    color: #fff;
}

.reply {
    padding-top: 25px;
}

.thread_actions {
    display: block;
    margin: 20px 0;
}

.footer {
    background: #333;
    font-size: 10px;
    padding: 20px 10px;
    color: #fff;
}
.footer span {
    float: right;
}
