<html>
  <head>
    <title>Hello {{username}}</title>
    <meta http-equiv="X-Application" content="OpenForum">
    <meta http-equiv="Content-Type" content="text/erlang; charset=us-ascii">
  </head>
  <body>
    Hello {{username}},<br />
    <p>
      This is a simple message to inform you that the universe is happy without you,<br />
      but you might not be happy without the universe.<br />
    </p>
    <p>
      Just saying.<br />
      --Kai
    </p>
  </body>
</html>
