{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  <ul>
  {% for d in data %}
  <li>{{d.body}}</li>
  {% empty %}
  No Data.
  {% endfor %}
  </ul>
</div>
{% endblock %}
