{% extends "layout/application.html" %}
{% block content %}
<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; background: #fff;">
  {% for d in data %}
  <li>{{d}}</li>
  {% empty %}
  No Data found
  {% endfor %}

</div>
{% endblock %}
