{% extends "layout/search.html" %}
{% block content %}
<!-- <script src="{{_base_url}}/static/js/bootstrap.min.js"></script> -->
<script src="{{_base_url}}/static/js/custom/jquery.timeago.js"></script>
<script src="{{_base_url}}/static/js/custom/search.js"></script>

<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; background: #fff;">
  <div class="tabbable tabs-left">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
	      <li{% if datatopics %} class="active"{% endif %}><a data-toggle="tab" href="#posts">Posts <span class="pull-right" id="datatopics_count">({% if datatopics %}{{datatopics|length}}{% else %}0{% endif %})</span></a></li>
	      <li{% if datatopics %}{% else %}{% if datathreads %} class="active"{% endif %}{% endif %}><a data-toggle="tab" href="#threads">Threads <span class="pull-right" id="datathreads_count">({% if datathreads %}{{datathreads|length}}{% else %}0{% endif %})</span></a></li>
	      <li{% if datatopics %}{% else %}{% if datathreads %}{% else %}{% if dataforums %} class="active"{% endif %}{% endif %}{% endif %}><a data-toggle="tab" href="#forums">Forums <span class="pull-right" id="dataforums_count">({% if dataforums %}{{dataforums|length}}{% else %}0{% endif %})</span></a></li>
      </ul>
    </div>
    <div class="span10">
      <div class="tab-content">
	<div class="tab-pane{% if datatopics %} active{% endif %}" id="posts">
	  {% if datatopics %}
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Posts</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    {% for topic in datatopics %}
	    <tbody>
	      <tr>
		<td>
		  <h5><a href="{% url controller="forum" action="show_topics" id=topic.thread_id %}">{{topic.thread.name}}</a></h5>
		  <blockquote>
		    <p>{{topic.body|striptags|truncatechars:150}}</p>
		  <small>{% if topic.thread.votes %}{{topic.thread.votes}} Vote{{topic.thread.votes|pluralize}}{% else %}0 Votes{% endif %}
		    <span style="margin-left:25px;"><time class="timeago" datetime="{{topic.created_on|localtime}}">{{topic.created_on|localtime}}</time></span>
		  </small>
		</td>
		<td>
		  <time class="timeago" datetime="{{topic.created_on|localtime}}">{{topic.created_on|localtime}}</time>
		</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% else %}
	  <h2>No Posts For Your Search</h2>
	  {% endif %}
	</div>
	<div class="tab-pane{% if datatopics %}{% else %}{% if datathreads %} active{% endif %}{% endif %}" id="threads">
	  {% if datathreads %}
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Threads</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for thread in datathreads %}
	      <tr>
		<td>
		  <h5><a href="{% url controller="forum" action="show_topics" id=thread.id %}">{{thread.name}}</a></h5>
		  <blockquote>
		    <p>{% if thread.topics %}{{thread.topics|last_comment|striptags|truncatechars:150}}{% else %}{{thread.comments|striptags|truncatechars:150}}{% endif %}</p>
		  <small>{% if thread.votes %}{{thread.votes}} Vote{{thread.votes|pluralize}}{% else %}0 Votes{% endif %}
		    <span style="margin-left:25px;"><time class="timeago" datetime="{{thread.created_on|localtime}}">{{thread.created_on|localtime}}</time></span>
		  </small>
		</td>
		<td>
		  <time class="timeago" datetime="{{thread.created_on|localtime}}">{{thread.created_on|localtime}}</time>
		</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% else %}
	  <h2>No Threads For Your Search</h2>
	  {% endif %}
	</div>
	<div class="tab-pane{% if datatopics %}{% else %}{% if datathreads %}{% else %}{% if dataforums %} active {% endif %}{% endif %}{% endif %}" id="forums">
	  {% if dataforums %}
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Forums</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for forum in dataforums %}
	      <tr>
		<td><a href="{% url controller="forum" action="show_threads" id=forum.id %}">{{forum.name}}</a><br />
		  {{forum.comments|striptags|truncatechars:150}}
		</td>
		<td>{{forum.updated_on|localtime}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% else %}
	  <h2>No Forums For Your Search</h2>
	  {% endif %}
	</div>
      </div>
    </div>
    <div class="container">
      <a class="btn btn-small btn-primary" id="close_btn">Back</a>
  </div>
</div>
<script type="text/javascript">
// Extract the numbers from the HTML view: "(1234)"
function get_field(field) {
    return parseInt($(field).html().replace(/\D/g,''));
};

// Set the title so that the analytics tools are happy
document.title = "RPC - Search Results";

// Get the amount of found results
var dp_c = this.get_field('#datatopics_count');
var dt_c = this.get_field('#datathreads_count');
var df_c = this.get_field('#dataforums_count');
// Add these to the existing utag_data structure
var search_options = {
    "search_term"   : $('.search-query').val(),
    "search_results" : (dp_c + dt_c + df_c),
};

$.extend(search_options, base_utag_data());
console.log(search_options);
utag.view(search_options);
</script>
{% endblock %}
