<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css"                            rel="stylesheet" media="screen" />
<!-- Needed for responsive nav-bar -->
<!--    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" type="text/css" media="screen" /> -->
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/DT_bootstrap.css"                             rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-tagmanager.css" rel="stylesheet" media="screen" />
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.search-query').keypress(function(event){
            if( event.which == 13 ) {
                var searchterm = $(this).val();
                event.preventDefault();
                 $.ajax({
                    url: "/search/all_search/" + searchterm,
                    type: "get",
                    success: function(data) {
                        $('#main-section').fadeOut( function(){
                            $('.result').html(data, function() {
                                $('.result').fadeIn();
                            });
                        });
                        // Get the amount of found results
                        //var dp_c = parseInt($('#datatopics_count').html());
                        //var dt_c = parseInt($('#datathtreads_count').html());
                        //var df_c = parseInt($('#dataforums_count').html());
                        //console.log("search_results: " + (dp_c + dt_c + df_c));
                        //console.log("search_term: " + $('#search').val());
                        //utag.view($extend(utag_data, {"search_term": $('#search').val(), "search_result":(dp_c + dt_c + df_c) });
                    },
                    error: function(xhr, status, error){
                        alert("Something blew up: " + status + " Error: " + error);
                    }
                });
            }
        });
    });

    </script>
    <title>RackerForums - Search</title>
    <link rel="stylesheet" href="{{_base_url}}/static/css/search_index.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="result"></div>
    <div id="main-section">
      <img src="{{_base_url}}/static/img/big_forums_search.png" class="offset1" alt="" />
      <div class="input-append" style="margin: 25px 25px;">
  <input type="text" id="search" name="search" class="search-query" maxlength="255" placeholder="Search All Forums" value="" style="height:40px; width: 100%"/>

      </div>
    </div>
  </body>

</html>
