{% extends "layout/search.html" %}
{% block content %}
<!-- <script src="{{_base_url}}/static/js/bootstrap.min.js"></script> -->
<script src="{{_base_url}}/static/js/custom/search.js"></script>
<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; background: #fff;">
  <div class="tabbable tabs-left">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
	<li class="active"><a data-toggle="tab" href="#threads">Threads <span class="pull-right">({% if datathreads %}{{datathreads|length}}{% else %}0{% endif %})</span></a></li>
      </ul>
    </div>
    <div class="span10">
      <div class="tab-content">
	<div class="tab-pane{% if datatopics %}{% else %}{% if datathreads %} active{% endif %}{% endif %}" id="threads">
	  {% if datathreads %}
	  <table class="table table-striped">
	    <thead>
	      <tr style="background:#333; color:#eee">
		<th>Threads</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for thread in datathreads %}
	      <tr>
		<td><a href="{% url controller="forum" action="show_topics" id=thread.id %}">{{thread.name}}</a><br />
		  {{thread.topics|last_comment|striptags|truncatechars:150}}
		</td>
		<td>{{thread.updated_on|localtime}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	  {% else %}
	  <h2>No Threads For Your Search</h2>
	  {% endif %}
	</div>
      </div>
    </div>
    <div class="container">
      <a class="btn btn-small btn-primary" id="close_btn">Back</a>
  </div>
</div>
{% endblock %}
