{% extends "layout/application.html" %}
{% block title %}RackerForums - Admin Dashboard{% endblock %}
{% block javascript %}
<script src="{{_base_url}}/static/js/jquery.dataTables.js"></script>
<script src="{{_base_url}}/static/js/DT_bootstrap.js"></script>
<script src="{{_base_url}}/static/js/formatted-num.js"></script>
<script src="{{_base_url}}/static/js/custom/dashboard.js"></script>
<script>
jQuery(document).ready(function() {
    $('#glossary-sorted-table').dataTable( {
	      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ words per page"},
	      "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        "aaSorting": [[ 0, 'desc' ]],
    });    
    $('#help-sorted-table').dataTable( {
        "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ articles per page"},
	      "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        "aaSorting": [[ 0, 'desc' ]],
    });
    $('#forum-sorted-table').dataTable( {
        "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ forums per page"},
	      "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        "aaSorting": [[ 3, 'desc' ]],
    });
    $('#user-sorted-table').dataTable( {
        "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ categories per page"},
        "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
        "aaSorting": [[ 0, 'asc' ]],
    });
    
    $('#user-text-input').keypress(function(event){
        if( event.which == 13 ) {
            var searchterm = $(this).val();
            event.preventDefault();
	          $('#user-result-box').slideUp();
            $.ajax({
                url: "/main/fetch_user_info/" + searchterm,
                type: "get",
                success: function(user) {
                    $('#user-result-box').html(user);
                    $('#user-result-box').slideDown();
		            },
                error: function(xhr, status, error){
                    alert("Something blew up: " + status + " Error: " + error);
                }
            });
        }
    });
});

</script>

{% endblock %}

{% block content %}
<div class="result" style="display:none;"></div>
<div class="container" style="background: #fff; border:1px solid #ccc; border-radius: 5px; padding: 20px;" id="main-section">
      {% if boss_flash %}                                                                                                                                                                                                                     
      {% for flash in boss_flash %}                                                                                                                                                                                                           
      <div class="alert alert-{{flash.method}} fade in">                                                                                                                                                                                              
        <button type="button" class="close" data-dismiss="alert">&times;</button>                                                                                                                                                             
        {{ flash.message }}                                                                                                                                                                                                                   
      </div>                                                                                                                                                                                                                                  
      {% endfor %}                                                                                                                                                                                                                            
      {% endif %}   
  <div class="page-header">
    <h2>Admin Dashboard</h2>
  </div>
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
      <li><a href="#forums" data-toggle="tab">Forums</a></li>
      <li><a href="#channels" data-toggle="tab">Channels</a></li>
      <li class="disabled"><a>Glossary</a></li>
      <li class="disabled"><a>Help</a></li>
      <li class="disabled"><a>Activity</a></li>
      <li class="disabled"><a>Stats</a></li>
    </ul>
    <div class="tab-content">
      <!--- Users Tab Content ---------------------------------------------------------------->
      <div class="tab-pane active" id="users">
	<legend>User List</legend>
	<div class="row-fluid">
	  <form class="navbar-search">
            <input type="text" id="user-text-input" placeholder="Search All Users">
          </form>
	</div>
	<div id="user-result-box" style="display:none;">
	  <!-- 	<table class="table" id="user-sorted-table"> -->
	  <!-- 	  <thead> -->
	  <!-- 	  <tr> -->
	  <!-- 	      <th>User's Name</th> -->
	  <!-- 	      <th>Current Role</th> -->
	  <!-- 	      <\!-- <th>Action</th> -\-> -->
	  <!-- 	    </tr> -->
	  <!-- 	  </thead> -->
	  <!-- 	  <tbody> -->
	  <!-- 	    {% for user in owners %} -->
	  <!-- 	    <tr> -->
	  <!-- 	      <td> -->
	  <!-- 		{% if user.profile %}<a href="{% url controller="forum" action="show_user" id=user.profile.id %}">{{user.fullname}}</a> -->
	  <!-- 		{% else %}{{user.fullname}}{% endif %} -->
	  <!-- 	      </td> -->
	  <!-- 	      <td> -->
	  <!-- 		<select class="change_user_level"> -->
	  <!--              <option value="user/{{user.id}}" {% if user.permissions|user_level == "User" %}selected="selected"{% endif %}>User</option> -->
	  <!--              <option value="admin/{{user.id}}" {% if user.permissions|user_level == "Admin" %}selected="selected"{% endif %}>Admin</option> -->
	  <!--            </select> -->
	  <!-- 	      </td> -->
	  <!-- 	      <\!-- <td> -\-> -->
	  <!-- 	      <\!-- 	<a href="#" data-toggle="tooltip" title="promote" object="{{owner.id}}" class="promote_btn"> <i class="icon-thumbs-up"></i></a>  -\-> -->
	  <!-- 	      <\!-- 	<a href="#" data-toggle="tooltip" title="demote" object="{{owner.id}}" class="demote_btn"> <i class="icon-thumbs-down"></i></a> -\-> -->
	  <!-- 	      <\!-- </td> -\-> -->
	  <!-- 	    </tr> -->
	  <!-- 	    {% endfor %} -->
	  <!-- 	  </tbody> -->
	  <!-- 	</table> -->
	</div>
      </div>

<!--- Forums Tab Content ---------------------------------------------------------------->


      <div class="tab-pane" id="forums">
	<legend>Existing Forums <a class="btn btn-mini create_forum_btn" href="#"><i class="icon-plus"></i></a></legend>
	<div class="container container_forum_create" style="display:none;">
	  <form method="post" id="create_forum_form" name="create_forum" action="/main/create_forum/">
	    <div class="row-fluid">
	      <div class="span2"><label for="channels" id="channels_label" name="channels_label">Belongs to Channel</label></div>
	      <div class="span2">
		<select name="channel_id" id="channel_id">
		  <option value=""></option>
		  {% for channel in channels %}
		  <option value="{{channel.id}}" {% if forum.channel_id == channel.id %}selected="selected"{% endif %} >{{channel.name}}</option>
		  {% empty %}
		  {% endfor %}
		</select>
	      </div>
	    </div>
	    <div class="row-fluid">
	      <div class="span2"><label for="forum_name" id="forum_name_label" name="forum_name_label">Forum Name</label></div>
	      <div class="span10"><input style="height:30px;" type="text" id="forum_name" name="forum_name" class="span9" placeholder="Name of the Forum" autofocus required="required" value="{{forum.name}}"/>
	      </div>
	    </div>
	    
	    <div class="row-fluid">
	      <div class="span2"><label for="comments" id="comments_label" name="comments_label">Comment</label></div>
	      <div class="span10">
		<textarea name="comments" id="comments" rows="10" class="span9" >{{forum.comments}}</textarea>
	      </div>
	    </div>
	    
	    <div class="row-fluid">
	      <div class="span2"></div>
	      <div class="span7">
		<div class="pull-right">
		  <a href="#" class="btn btn-primary create_forum_btn" style="height: 20px;padding-top: 2px;">Cancel</a>
		  <input id="create_forum_form_submitButton" type="submit" class="btn btn-primary" value="Save" />
		</div>
              </div>
	    </div>
	  </form>
	</div>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th style="text-align: center;">Modify</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for channel in channels %}
	    <tr style="background: #ccc; font-weight: 600;">
	      <td>{{channel.name}}</td>
	      <td></td>
	    </tr>
	    {% if channel.forums %}
	    {% for forum in channel.forums %}
	    <tr>
	      <td><a href="{% url controller="forum" action="show_threads" id=forum.id %}">{{forum.name}}</a></td>
	      <td style="text-align: center;">
		


		<a href="{% url controller="main" action="edit_forum" id=forum.id %}" class="show_tooltip" title="Edit"><i class="icon-edit"></i></a>
		<a href="#" object="{{forum.id}}" class="delete_forum" class="show_tooltip" title="Delete"><i class="icon-remove"></i></a>
	      </td>
	    </tr>
	    {% empty %}
	    
	    {% endfor %}
	    {% else %}
	    <tr>
	      <td>No Categories Exist</td>
	      <td></td>
	    </tr>
	    {% endif %}
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <!--- Channels Tab Content ---------------------------------------------------------------->
      
      <div class="tab-pane" id="channels">
	<legend>Existing Channels <a class="btn btn-mini" href="{% url controller="main" action="create_channel" %}"><i class="icon-plus"></i></a></legend>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th style="text-align: center;">Modify</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for channel in channels %}
	    <tr>
	      <td><a href="{% url controller="forum" action="show_forums" id=channel.id %}">{{channel.name}}</a></td>
	      <td><center><a href="#" class="delete_forum" object="{{channel.id}}" class="show_tooltip" title="Delete"><i title="delete" class="icon-remove"></i></a></center></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>




<!--- Activity Tab Content ---------------------------------------------------------------->

      <div class="tab-pane" id="activity">

      </div>

<!--- Stats Tab Content ---------------------------------------------------------------->

      <div class="tab-pane" id="stats">

      </div>

<!--- Glossary Tab Content ---------------------------------------------------------------->

      <div class="tab-pane" id="glossary">
	<legend>Glossary <button class="btn btn-mini add_glossary_btn"><i class="icon-plus"></i></button><button class="btn btn-mini hide_glossary_btn" style="display:none;"><i class="icon-minus"></i></button></legend>
	<div class="add_glossary_editor" style="display:none">
	  <form method="post" id="add_glossary_form" name="add_glossary_form" action="/glossary/create">
	    <div class="row-fluid">
	      <div class="span1">Term</div>
	      <div class="span11"><input type="text" id="term" name="term" class="input-xlarge" maxlength="255" placeholder="Term..." value="" required="required" autofocus /></div>
	    </div>
	    <div class="row-fluid">
	      <div class="span1">Description</div>
	      <div class="span11"><input type="text" id="description" name="description" class="input-xlarge" maxlength="255" placeholder="Description" value="" required="required" /></div>
	    </div>
	    <input type="submit" class="btn" value="Add">
	  </form>
	</div>{% if glossaries %}
	<table class="table" id="glossary-sorted-table" name="sorted-table">
	  <thead>
	    <tr>
	      <th>Term</th>
	      <th style="text-align: center;">Modify</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for glossary_item in glossaries %}
	    <tr>
	      <td><a href="{% url controller="forum" action="show_threads" id=forum.id %}">{{glossary_item.term}}</a></td>
	      <td style="text-align: center;">
		<a href="{% url action="edit_forum" id=forum.id %}"><i title="edit" class="icon-edit"></i></a>
		<a href="#" id="{{glossary_item.id}}" class="remove_glossary_btn" ><i title="delete" class="icon-remove"></i></a>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% else %}Nothing Added Yet.{% endif %}
      </div>

<!--- Help Tab Content ---------------------------------------------------------------->

      <div class="tab-pane" id="help">
	<legend>Help</legend>
	{% if help %}
	<table class="table table-striped" id="help-sorted-table" name="sorted-table">
	  <thead>
	    <tr>
	      <th>Term</th>
	      <th>Category</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for help_item in help %}
	    <tr>
	      <td>{{help_item.topic|default:"No Topic"}}</td>
	      <td>{{help_item.category|default:"No Category"}}</td>
	      <td>
		<a href="#" data-toggle="tooltip" title="delete"><i class="icon-remove"></i></a>
		<a href="#" data-toggle="tooltip" title="promote" id="{{owner.id}}" class="promote_btn" > <i class="icon-thumbs-up"></i></a> 
		<a href="#" data-toggle="tooltip" title="demote" id="{{owner.id}}" class="demote_btn" > <i class="icon-thumbs-down"></i></a>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% else %}
	Nothing Added Yet.
	{% endif %}
      </div>
    </div>

<!--- End Tab Content ---------------------------------------------------------------->

  </div>
</div>
{% endblock %}
