{% extends "layout/login.html" %}
{% block javascript %}
<script type="text/javascript" src="{{_base_url}}/static/js/custom/login.js" ></script>
{% endblock %}
{% block content %}
<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; background: #fff; margin-top: 25px;">
{% if boss_flash %}
  
          {% for flash in boss_flash %}
            <div class="alert alert-{{flash.method}}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flash.message }}
            </div>
            {% endfor %}
            {% endif %}

{% if errors %}
	    <div class="alert alert-error">
	      {{errors}}
	    </div>
{% endif %}

  <div class="row">
    <div class="span4 offset4">
      <legend>Please Sign In</legend>
      <form method="post" id="login_form" name="login_form" class="form-horizontal">
	<div class="control-group">
	  <label class="control-label" for="sso">SSO</label>
	  <div class="controls">
	    <input style="height:30px;" type="text" name="sso_username" id="sso_username" placeholder="SSO" required="required" autofocus />
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="password">Password</label>
	  <div class="controls">
	    <input style="height:30px;" type="password" name="sso_password" id="sso_password" placeholder="Password" required="required" />
	  </div>
	</div>
	<div class="control-group">
	    <div class="controls">
	      <label class="checkbox">
		<input type="checkbox"> Remember me
	      </label>	      
	      <button type="submit" class="btn btn-primary">Sign in</button>
	    </div>
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
