{% extends "layout/application.html" %}
{% block content %}
{% block javascript %}  
<script type="text/javascript" src="{{_base_url}}/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript">

function onSubmit() {
    var email;
    var password;
    var res;

    if( jQuery('#email').val() == "" ) {
	alert("Email empty!");
	jQuery('#email').focus();
	return false;
    }

    if( $('#password').val() == "" ) {
	alert("No password supplied");
	$('#password').focus();
	return false;
    }

    email = jQuery('#email').val();
    password = jQuery('#password').val();
    
    // alert("Email: " + email + "\nPassword: " + password);

    res = jQuery.ajax({
	url: '/security/login',
	type: "POST",
	async: false,
	data: 'email=' + email + '&password=' + password,
	complete: function(jqXHR, textStatus) { alert("All done: " + textStatus + "XHR: " + jqXHR); },
	error: function(jqXHR, textStatus, errorThrown) { alert("An error occurred: " + textStatus + "\nErrorThrown: " + errorThrown ); },
	success: function(data, textStatus, jqXHR) { alert("Success: " + data + " " + textStatus + " " + jqXHR); }
    });


    return res;
};
  jQuery(document).ready(function(){

  });
</script>
{% endblock %}

<form method="post" id="signin_form" name="signin_form" onsubmit="return onSubmit();">
  <input type="text" id="email" name="email" class="input-small" maxlength="255" placeholder="Email here" value="" />
  <br />
  <input type="password" id="password" name="password" class="input-small" maxlength="255" placeholder="Password" value="" />
  <br />

  <input type="submit" name="" value="Log In!" />
</form>

{% endblock %}
