{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  
  <form method="post" id="create_faq" name="create_faq" action="/faq/create">
    <ul>
      <li>Q: <input name="question" id="question" type="text" required="required" autofocus ></li>
      <li>A: <input name="answer"  id="answer" type="text" required="required"></li>
    </ul>
    <input type="checkbox" name="active" id="active" />Active
    <input type="submit" value="Create FAQ" />
  </form>

</div>
{% endblock %}
