{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  
  <form method="post" id="create_faq" name="create_faq">
    <ul>
      <li>Q: <input id="question" name="question" type="text" required="required" autofocus value="{{ faq.question }}"></li>
      <li>A: <input id="answer" name="answer" type="text" required="required" value="{{ faq.answer }}" ></li>
    </ul>
    {{faq.active}}
    <input type="checkbox" id="active" name="active" {% if faq.active == "on" %}checked="checked"{% endif %} />Active
    <input type="submit" value="Create FAQ" />
  </form>

</div>
{% endblock %}
