{% extends "layout/application.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{_base_url}}/static/css/faq.css">
<div class="container well">
	<div class="row">
	  <div class="title">RPC Forums FAQs</div>
	  <span class="pull-right">
		  <a class="btn btn-acive" href="{{_base_url}}/faq/create">
		    Create</a>
		</span>
	</div>
  {% for f in faqs %}
  <div class="faq_style">
    <h4>{{f.question}} <span class=""><a href="{{_base_url}}/faq/edit/{{f.id}}" value="">Edit</a></span></h4>
    <p>{{f.answer}}</p>
  </div>
  {% empty %}
  No FAQs
  {% endfor %}
</div>
{% endblock %}
