{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  
  <ul>
    <li>Q: {{ faq.question }}</li>
    <li>A: {{ faq.answer }}</li>
  </ul>

</div>
{% endblock %}
