<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css"              rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css"   rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/DT_bootstrap.css"               rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    <title>{% block title %}Welcome to the OpenForums{% endblock %}</title>
  </head>
  <body>
    <div class="row-fluid">
	    {% include "layout/nav_bar.html" %}
    </div>
    <div class="row-fluid">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript">
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    var utag_data = {
        "page_name":document.title, "rack_id":readCookie('IS_UASrackuid'), "session_id":readCookie('RackSID'), "site_language":"en", //change as needed "site_section":"rackspace" //change as needed
    };
    (function(a,b,c,d){
        a='//tags.tiqcdn.com/utag/rackspace/rpcforum/prod/utag.js';
        b=document;c='script';
        d=b.createElement(c);
        d.src=a;
        d.type='text/java'+c;
        d.async=true;
        a=b.getElementsByTagName(c)[0];
        a.parentNode.insertBefore(d,a);
    })();
   </script>
  </body>
</html>
