<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    <script src="{{_base_url}}/static/js/jquery.dataTables.js"></script>
    <script src="{{_base_url}}/static/js/DT_bootstrap.js"></script>
    <link href="{{_base_url}}/static/css/DT_bootstrap.css"                             rel="stylesheet" media="screen" />

    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    {% block javascript %}{% endblock %}
    <title>RackerForums - Home</title>
  </head>
  <body>
    {% if boss_flash %}
    {% for flash in boss_flash %}
    <div class="alert alert-{{flash.method}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flash.message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row-fluid">
        {% block navigation %}{% endblock %}
    </div>
    <div class="row-fluid">
	{% block content %}{% endblock %}
    </div>

    <!-- Killroy was here -->
    <!-- Tealium analytics -->
    <script type="text/javascript" src="{{_base_url}}/static/js/tealium.js"></script>

  </body>
</html>
