<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
      
      });
    </script>
    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    {% block javascript %}{% endblock %}
    <title>{% block title %}OpenForums: OOOPS! Page does not exist (404){% endblock %}</title>
  </head>
  <body style="background: lightred;">
    <div class="row-fluid">
      <div class="span2">
          {% if boss_flash %}
          {% for flash in boss_flash %}
            <div class="alert alert-{{flash.method}}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flash.message }}
            </div>
            {% endfor %}
            {% endif %}
      {% block content %}{% endblock %}
      </div>
      </div>
    
 <!-- Killroy was here -->
    <!-- Tealium analytics -->
    <script type="text/javascript" src="{{_base_url}}/static/js/tealium.js"></script>

  </body>
</html>
