<footer style="position:relative; bottom:0px; right:0px; z-index: 10; height: 20px;width: 100%; background: #444; padding: 3px; color: #eee; box-shadow: 3px -8px 10px #ccc;">
  <p class="pull-right">&copy; 2013 Rackspace &#8212; K Janson &#8212; L Fielder &#8212; <a href="#">Report Bugs</a></p>
</footer>
