<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/DT_bootstrap.css"                            rel="stylesheet" media="screen" />
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
	  $('#follow_btn').click( function(){
	      $.ajax({
		  type: "PUT",
		  url: "/main/follow/" + $(this).val(),
		  data: $(this).val()
	      });
	  });
      });
    </script>
    <style>table.table thead .sorting { background: url('{{_base_url}}/static/img/sort_both.png') no-repeat center left; }
table.table thead .sorting_asc { background: url('{{_base_url}}/static/img/sort_asc.png') no-repeat center left; }
table.table thead .sorting_desc { background: url('{{_base_url}}/static/img/sort_desc.png') no-repeat center left; }
</style>
    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    {% block javascript %}{% endblock %}
    <title>RackerForums - {{channel.name}}</title>
  </head>
  <body>
    {% if boss_flash %}
    {% for flash in boss_flash %}
    <div class="alert alert-{{flash.method}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flash.message }}
    </div>
    {% endfor %}
    {% endif %}
<div class="row-fluid">
{% include "layout/nav_bar.html" %}

</div>
<div class="row-fluid">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
