<html>
  <head>
    <link href="{{_base_url}}/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <title>Log on with your SSO</title>
    {% block javascript %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
