<script type="text/javascript">
function get_notifications() {
    $.ajax({
        url: "/main/notification/" + "{{owner.id}}",
        type: "get",
        async: true,
        timeout: 600000,
	complete: function(xhr, status) {
	    if( status == "success") {                                                                                                                                         
		var response = JSON.parse(xhr.responseText);
		$('#notify').append("<div class='single-notification close_me_bro'><button type='button' class='close closing_you'>&times;</button>A new comment has been made on<br /><a href='/forum/show_topics/" + response.messages.thread.id + "'>" + response.messages.thread.name + "</a></div>");                                                                                            
		$('#notify').show();
		$('.single-notification').fadeTo('slow', 0.6);
		$('.single-notification').hover(
		    function() {$(this).fadeTo('fast', 1.0)}, // on mouseenter
		    function() {$(this).fadeTo('fast', 0.6)}  // on mouseleave
		);
		$('.closing_you').click(function (){
		    $(this).parent().toggle( "drop", {direction: "right", easing: "easeInOutSine"}, '600', function() {
			$(this).remove();
		    });
		    $(this).parent().slideUp();
              	});
		setTimeout(
		    get_notifications,
		    1000
		);
	    } else { // error
		setTimeout(                                                                                                                                                                                                                    
		    get_notifications,                                                                                                                                     
		    10000);
	    }                                                                 
        }
    });
};

$(document).ready(function() {
    get_notifications();
    $('.search-query').keypress(function(event){
        if( event.which == 13 ) {
            var searchterm = $(this).val();
            event.preventDefault();
            $.ajax({
                url: "/search/all_search/" + searchterm,
                type: "get",
                success: function(data) {
		                $('#main-section').fadeOut( function(){
			                  $('.result').html(data);
			                  $('.result').show();
		                });
                },
                error: function(xhr, status, error){
                    alert("Something blew up: " + status + " Error: " + error);
                }
            });
        }
    });
});

</script>
<style>
#notify {
    height: auto;
    width: auto;
    display:none;
    position: fixed;
    top: 55px;
    right: 15px;
    z-index: 10;
}
#notify .single-notification {
    width: 225px;
    height: auto;
   /* text-shadow: 1px 1px 3px #333;*/
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
    padding:15px;
    padding-right: 35px;
    margin-bottom:10px;
    box-shadow: 4px 4px 8px #666;
  }
#notify .single-notification:hover {opacity: 1;}
#notify .single-notification button{
    margin-top: -15px; 
    margin-right: -25px;
}

</style>
<div id="notify">
</div>

<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
	    <a class="brand" href="{% url controller="forum" action="index" %}"><img src="{{_base_url}}/static/img/logo-mini.png" height="20" width="190" /></a>
	    <div class="nav-collapse collapse">
	      <ul class="nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		          <i class="icon-list" style="margin-top: 1px; margin-right:3px;"></i> All Forums <b class="caret"></b>
	          </a>
	          <ul class="dropdown-menu" id="forum_menu">
		          {% if channels %}
		          {% for channel in channels %}
		          {% if forloop.counter != "1" %}<li class="divider"></li>{% endif %}
		          <li><a tabindex="-1" href="{% url controller="forum" action="show_forums" id=channel.id %}"><strong>{{channel.name}}</strong></a></li>
		          {% if channel.forums %}
		          {% for forum in channel.forums %}
		          <li><a class="muted" tabindex="-1" href="{% url controller="forum" action="show_threads" id=forum.id %}">{{forum.name}} ({% if forum.threads %}{{forum.threads|length}}{% else %}0{% endif %})</a></li>
		          {% endfor %}
		          {% else %}
		          {% endif %}
		          {% endfor %}
		          {% endif %}
	          </ul>
	        </li>
	        {% if bookmarks %}
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bookmark" style="margin-top: 2px;"></i> Bookmarks <b class="caret"></b></a>
	          <ul class="dropdown-menu">
		          {% for bookmark in bookmarks %}
		          {% if "forum" in bookmark.object %}
		          <li><a href="{% url controller="forum" action="show_threads" id=bookmark.object %}">{{bookmark.object|show_name}}</a></li>
		          {% endif %}
		          {% if "thread" in bookmark.object %}
		          <li><a href="{% url controller="forum" action="show_topics" id=bookmark.object %}">{{bookmark.object|show_name}}</a></li>
		          {% endif %}
		          {% if "channel" in bookmark.object %}
		          <li><a href="{% url controller="forum" action="show_forums" id=bookmark.object %}">{{bookmark.object|show_name}}</a></li>
		          {% endif %}
		          {% endfor %}
		          <li class="divider"></li>
		          <li><a href="{% url controller="profile" action="show_profile" %}"><strong>Manage Bookmarks</strong></a></li>
	          </ul>
	        </li>
	        {% endif %}
	        <li><a href="{{_base_url}}/faq">FAQs</a></li>
	      </ul>
	      <ul class="nav pull-right">
	      	<li><a href="mailto:Marty.Sixkiller@rackspace.com?Subject=RPCPilot Feedback">Send Feedback</a></li>
	      	<li class="divider-vertical"></li>
	        <form class="navbar-search">
	          <input type="text" class="search-query" placeholder="Search All Forums">
	        </form>
	        <li class="divider-vertical"></li>
	        <li class="dropdown hidden-phone">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_session.fullname}} <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li>
                <a href="/profile/show_profile">Profile</a>
              </li>
	            {% if owner.permissions|user_level == "Admin" %}
	            <li class="divider"></li>
	            <li>
                <a href="/dashboard/index">Dashboard</a>
              </li>
	            {% endif %}
	            <li class="divider"></li>
	            <li>
                <a href="/logout">Logout</a>
              </li>
	          </ul>
	        </li>
	      </ul>
      </div>
    </div>
  </div>

  <!-- Tealium analytics -->
  <script type="text/javascript" src="{{_base_url}}/static/js/tealium.js"></script>
