<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/Category-List.css"                            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/DT_bootstrap.css"                            rel="stylesheet" media="screen" />
    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    {% block javascript %}{% endblock %}
    <title>OpenForum - Your Profile</title>
  </head>
  <body>
    <div class="row-fluid">
      {% include "layout/nav_bar.html" %}
    </div>
    <div class="row-fluid">
      	{% block content %}{% endblock %}
    </div>
    <!-- Killroy was here -->
    <!-- Tealium analytics -->
    <script type="text/javascript" src="{{_base_url}}/static/js/tealium.js"></script>
  </body>
</html>
