<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css"            rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
    <!-- Needed for responsive nav-bar -->
    <!--
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" type="text/css" media="screen" />
	-->
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/DT_bootstrap.css"                             rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-tagmanager.css"                     rel="stylesheet" media="screen" />

    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    <script src="{{_base_url}}/static/js/custom/jquery.timeago.js"></script>
    {% block javascript %}{% endblock %}
    <title>RackerForums - {{thread.name}}</title>
  </head>
  <body>
    <div class="row-fluid">
      {% include "layout/nav_bar.html" %}
    </div>
    <div class="row-fluid">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
