<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{{_base_url}}/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{_base_url}}/static/css/show_topics_style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{_base_url}}/static/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" media="screen" />
    <script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
    <script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    <script src="{{_base_url}}/static/js/custom/jquery.timeago.js"></script>
    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    {% block javascript %}{% endblock %}
    <title>RackerForums - Discussion "{{thread.name}}"</title>
  </head>
  <body>
    <div class="row-fluid">
{% include "layout/nav_bar.html" %}

    </div>
    <div class="row-fluid">
	{% block content %}{% endblock %}
    </div>
  </body>
</html>
