{% extends "layout/channels.html" %}
{% block content %}
<div class="container-fluid well">
  <h3>Image list</h3>
</div>

<ul>
  {% for image in images %}
  <li>{{image.path}} {{image.name}} {{image.description}}
    <button class="btn edit_image_btn" id="{{image.id}}">Replace</button>
    <button class="btn remove_image_btn" id="{{image.id}}">Remove</button>
  </li>
  {% endfor %}
</ul>

<form method="post" id="image_uploader" name="image_uploader" action="/image/upload_image" enctype="multipart/form-data">
  <div id="filename" class="file">
    <input type="file" name="newimage" size="50">
  </div>
  <input type="submit" class="btn btn-default" value="Upload">
</form>

{% endblock %}
