<div id="myModal_edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 50%; margin-left: -450px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Edit Your Post</h3>
  </div>
  <div class="modal-body">
    <form method="post" id="edit_topic_form" name="edit_topic_form" action="/main/edit_topic">
      <input type="hidden" id="owner_id" name="owner_id" class="" value="{{owner.id}}" />
      <input type="hidden" id="thread_id" name="thread_id" class="" value="{{thread.id}}" />
      <div class="row-fluid">
        <div class="span12">
	  <textarea name="body" id="body" class="span12" rows="60" autofocus >{{topic.body}}</textarea>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit">Update</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </form>
  </div>
</div>
