{% extends "layout/channels.html" %}

{% block javascript %}
<script type="text/javascript" src="{{_base_url}}/static/js/custom/jquery.timeago.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/custom/forum_index.js"></script>
{% endblock %}

{% block navigation %}
<div class="navbar navbar-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="title">
		<a href="{% url controller="forum" action="index" %}"><img src="{{_base_url}}/static/img/logo-mini.png" height="20" width="190" /></a>
      </li>
      {% if bookmarks %}
      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bookmark" style="margin-top: 2px;"></i> Bookmarks <b class="caret"></b></a>
		<ul class="dropdown-menu">
		  {% for bookmark in bookmarks %}
		  <li>
			<a href="/forum/{% if "forum" in bookmark.object %}"show_threads"{% elif "thread" in bookmark.object  %}"show_topics"{% else %}"show_forums"{% endif %}/{{bookmark.object}}">{{bookmark.object|show_name}}</a>
          </li>
 		  {% endfor %}
		  <li class="divider"></li>
		  <li><a href="{% url controller="profile" action="show_profile" %}"><strong>Manage Bookmarks</strong></a></li>
		</ul>
      </li>
      {% endif %}
    </ul>
    <ul class="nav pull-right">
    <li><a href="mailto:mailto:Marty.Sixkiller@rackspace.com?Subject=RPCPilot Feedback">Send Feedback</a></li>
	      	<li class="divider-vertical"></li>
      <form class="navbar-search">
		<input type="text" class="search-query" placeholder="Search All Forums">
      </form>
      <li class="divider-vertical"></li>
      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_session.fullname}}<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li>
            <a href="{% url controller="profile" action="show_profile" %}">{% trans "Profile" %}</a>
          </li>
		  {% if owner|can_delete %}
		  <li class="divider"></li>
		  <li>
            <a href="/dashboard">Dashboard</a>
          </li>
		  {% endif %}
		  <li class="divider"></li>
		  <li>
            <a href="/logout">Logout</a>
          </li>
		</ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
{# Uncomment for debugging; it dumps all session variables on screen {{_session}}  #}
<div class="result" style="display:none;"></div>
<div class="container" id="main-section" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; background: #fff;">
  <h3>All Categories</h3>
    <div class="tab-pane active fade in" id="allcategories">
      <table class="table">
		{% for channel in channels %}
		<thead  style="margin-top:15px; background: #ccc;">
          <tr>
            <th><a href="{% url action="show_forums" id=channel.id %}">{{channel.name}}</a></th>
            <th class="hidden-phone"></th>
			<th class="hidden-phone">{% trans "Latest" %}</th>
       	  </tr>
		</thead>
		<tbody>
          {% for forum in channel.forums %}
		  <tr>
            <td>
			  <strong>
				<!-- <a href="{% url action="show_threads" id=forum.id %}">{{forum.name|title}}</a> -->
				<a href="/forum/show_threads/{{forum.id}}">{{forum.name|title}}</a>
			  </strong>
			  <br />
			  <div class="muted">{% if forum.comments %}{{forum.comments|truncatechars:50}}{% endif %}</div>
			</td>
            <!-- <td class="hidden-phone" style="vertical-align: middle;">{# with number=forum.threads|length #}{{number}} Thread{{number|pluralize}}{# endwith #}</td> -->
            <td class="hidden-phone" style="vertical-align: middle;">{% with number=forum|amount_threads %} {{number}} Thread{{number|pluralize}}{% endwith %}</td>
            <td class="hidden-phone" style="vertical-align: middle;">
			  {% if forum.threads %}
			  {% with current=forum.threads|last_thread %}
			  {# with current=forum|last_thread #}
			  <!-- <a href="{% url action="show_topics" id=current.id %}">{{ current.name|truncatechars:25 }}</a> -->
			  <a href="/forum/show_topics/{{current.id}}">{{current.name|truncatechars:25}}</a>
			  <br />{{current.owner.fullname}}{% endwith %}{% else %}No Threads Yet{% endif %}
			</td>
          </tr>
		  {% empty %}
          <tr>
			<td><strong>No Forums Created Yet.</strong></td>
			<td class="hidden-phone"></td>
			<td class="hidden-phone"></td>
          </tr>
		  {% endfor %}
		  {% endfor %}
		</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}<!-- 

				   Local Variables:
				   x-typographers-quotes: false
				   tab-width: 4
				   x-show-page-guide: true
				   x-auto-expand-tabs: false
				   x-show-navigation-bar: true
				   x-show-line-numbers: true
				   x-show-gutter: true
				   x-show-spaces: true
				   x-soft-wrap-text: true
				   x-show-toolbar: true
				   x-show-invisibles: false
				   x-font-size: 10
				   x-soft-wrap-mode: PageGuide
				   End:
				-->
