{% extends "layout/forums.html" %}

{% block javascript %}
<script src="{{_base_url}}/static/js/jquery.dataTables.js"></script>
<script src="{{_base_url}}/static/js/DT_bootstrap.js"></script>
<script src="{{_base_url}}/static/js/formatted-num.js"></script>
<script src="{{_base_url}}/static/js/custom/show_forums.js"></script>
<!-- TinyMCE -->
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_config.js"></script>
<script src="{{_base_url}}/static/js/custom/jquery.timeago.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('.timeago').timeago();
	var perpageid = "{% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %}";
	// Follow, opposite of below
        $('.follow_btn').click(function(){
            $.ajax({
                url: "/main/follow/" + $(this).attr('subject'),
                type: "put",
                complete: function(xhr,status){
                    $('#follow_section_reload').load('/forum/show_forums/{{channel.id}} #follow_section_reload', function() {
			$('.unfollow_btn').click(function(){
                            $.ajax({
                                url: "/main/follow/" + $(this).attr('subject'),
                                type: "delete",
                                complete: function(xhr,status){
                                    window.location.reload();
                                }
                            });
                        });
			$('.icon-star-top').show();
                    });
		}
	    })
	});
        $('.unfollow_btn').click(function(){
            $.ajax({
                url: "/main/follow/" + $(this).attr('subject'),
                type: "delete",
                complete: function(xhr,status){
                    $('#follow_section_reload').load('/forum/show_forums/{{channel.id}} #follow_section_reload', function() {
			$('.follow_btn').click(function(){
			    $.ajax({
				url: "/main/follow/" + $(this).attr('subject'),
				type: "put",
				complete: function(xhr,status){
				    window.location.reload();
				}
			    });
			});
			$('.icon-star-top').hide();
		    });
		}
	    })
	});

        // Bookmark, opposite of below
        $('.bookmark_btn').click(function(){
            $.ajax({
                url: "/main/bookmark/" + $(this).attr('subject'),
                type: "put",
                complete: function(xhr,status){
                    $('#bookmark_section_reload').load('/forum/show_forums/{{channel.id}} #bookmark_section_reload', function() {
			$('.unbookmark_btn').click(function(){
			    $.ajax({
				url: "/main/bookmark/" + $(this).attr('subject'),
				type: "delete",
				complete: function(xhr,status){
				    window.location.reload();
				}
			    });
			});
			$('.icon-book-top').show();
		    });
                }
            })
        });
        // Remove Bookmark, opposite of above
        $('.unbookmark_btn').click(function(){
            $.ajax({
                url: "/main/bookmark/" + $(this).attr('subject'),
                type: "delete",
                complete: function(xhr,status){
                    $('#bookmark_section_reload').load('/forum/show_forums/{{channel.id}} #bookmark_section_reload', function() {
                        $('.bookmark_btn').click(function(){
                            $.ajax({
                                url: "/main/bookmark/" + $(this).attr('subject'),
                                type: "put",
                                complete: function(xhr,status){
                                    window.location.reload();
                                }
                            });
                        });
			$('.icon-book-top').hide();
                    });
                }
            })
        });
	$('#post-sorted-table').dataTable( {
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
		"sLengthMenu": "_MENU_ categories per page"},
            "aaSortingFixed": [[ 3, 'desc' ]],
            "iDisplayLength": perpageid,
            "aoColumns": [
		{ "bSortable": false },
		{ "bSortable": false },
		{ "bVisible": false,
		  "sType": "date"},
		{ "iDataSort": 2}
	    ]
	});
    });
</script>
{% endblock %}


{% block content %}
<div class="result" style="display: none">
</div>
<div  id="main-section" class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 20px; background: #fff;">
  <ul class="breadcrumb">
    <li><a href="{% url controller="forum" action="index" %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">{{channel.name}}</li>
    <li class="pull-right">
      {% if followed %} 
      <i class="icon-star icon-star-top" id="icon-tooltip1" title="Followed" data-toggle="tooltip"></i> 
      {% else %}
      <i class="icon-star icon-star-top" id="icon-tooltip1" title="Followed" data-toggle="tooltip" style="display:none;"></i>
      {% endif %}
      {% if bookmarked %} 
      <i class="icon-bookmark icon-book-top" id="icon-tooltip2" title="Bookmarked" data-toggle="tooltip"></i> 
      {% else %}
      <i class="icon-bookmark icon-book-top" id="icon-tooltip2" title="Bookmarked" data-toggle="tooltip" style="display:none;"></i>
      {% endif %}</li>
  </ul>
  <div id="top_section_reload" class="row-fluid">
    <div class="page-header">
      <h2>{{channel.name}}
	<small> {{channel.description}}</small></h2>
      <span class="pull-right" style="margin-top:-45px;">
	<div class="btn-group" style="margin-left: 20px;">
	  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
	  <ul class="dropdown-menu pull-left">
	    <div id="follow_section_reload">
	      {% if followed %}
	      <li><a href='#' subject="{{followed.id}}" class="unfollow_btn"><i class="icon-star"></i> Unfollow</a></li>
	      {% else %}
	      <li><a href='#' subject="{{channel.id}}" class="follow_btn"><i class="icon-star"></i> Follow</a></li>
	      {% endif %}
	    </div>
	    <div id="bookmark_section_reload">
	      {% if bookmarked %}
	      <li><a href='#' subject="{{bookmarked.id}}" class="unbookmark_btn"><i class="icon-bookmark"></i> Remove Bookmark</a></li>
	      {% else %}
	      <li><a href='#' subject="{{channel.id}}" class="bookmark_btn"><i class="icon-bookmark"></i> Bookmark</a></li>
	      {% endif %}
	    </div>
	    <!-- <li class="divider"></li> -->
	    <!-- <li class="disabled"><a>Close</a></li> -->
	    <!-- <li class="disabled"><a>Edit</a></li> -->
	    <!-- <li class="disabled"><a>Delete</a></li> -->
	  </ul>
	</div>
      </span>
    </div>
  </div>
{% if forums %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#allcategories" data-toggle="tab">All Forums</a></li>
  <li><a href="#comments" data-toggle="tab">Recent Comments</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="allcategories">
    <table class="table table-striped" id="sorted-table" name="sorted-table">
      <thead>
	<tr>
	  <th>Title</th>
	  <th class="hidden-phone"></th>
	  <th>Latest</th>
	  <!-- <th class="hidden-phone">Action</th> -->
	</tr>
      </thead>
      <tbody>
	{% for forum in forums %}
	<tr>
          <td><strong><a href="{% url action="show_threads" id=forum.id %}">{{forum.name|title}}</a></strong><br /><div class="muted">{% if forum.comments %}{{forum.comments|truncatechars:50}}{% else %}{% endif %}</div></td>
          <td class="hidden-phone" style="vertical-align: middle;">{% if forum.threads %}{{forum.threads|length}}{% else %}0{% endif %} Threads</td>
          <td class="hidden-phone" style="vertical-align: middle;">{% if forum.threads %}{% with current=forum.threads|last_thread %}<a href="{% url action="show_topics" id=current.id %}">{{ current.name|truncatechars:25 }}</a><br />{{current.owner.fullname}}{% endwith %}{% else %}No Threads Yet{% endif %}</td>
          <!-- <td> -->
	  <!--   <div class="btn-group"> -->
	  <!-- 	<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i><span class="caret"></span></a> -->
	  <!-- 	<ul class="dropdown-menu pull-right"> -->
	  <!-- 	  <li class="disabled"><a href="">Follow</a></li> -->
	  <!-- 	  <li class="disabled"><a href="">Bookmark</a></li> -->
	  <!-- 	  <li class="divider"></li> -->
	  <!-- 	  <li class="disabled"><a>Close</a></li> -->
	  <!-- 	  <li><a href="{% url controller="main" action="edit_forum" id=forum.id %}">Edit</a></li> -->
	  <!-- 	  <li class="disabled"><a>Delete</a></li> -->
	  <!-- 	</ul> -->
	  <!--   </div> -->
	  <!-- </td> -->
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="comments">
    <table class="table table-striped" id="post-sorted-table">
      <thead>
	<tr>
	  <th>Recent</th>
	  <th>Comment</th>
	  <th>Date</th>
	  <th>Date</th>
	</tr>
      </thead>
      <tbody>
	{% for forum in forums %}
	{% for thread in forum.threads %}
	<tr>
	  <td>
	    <a href="{% url action="show_topics" id=thread.id %}">{{thread.name|truncatechars:50}}</a>
	    <br />{% if thread.topics %}{{thread.topics|last_author}}{% else %}{{thread.owner.fullname}}{% endif %}
	  </td>
	  <td>{% if thread.topics %}{{thread.topics|last_comment|truncatechars:100|striptags}}{% else %}{{thread.comments|truncatechars:100|striptags}}{% endif %}</td>
	  <td>{% if thread.updated_on %}{{thread.updated_on|localtime}}Z{% else %}{{thread.created_on|localtime}}Z{% endif %}</td>
	  <td><time class="timeago" datetime="{% if thread.updated_on %}{{thread.updated_on|localtime}}Z{% else %}{{thread.created_on|localtime}}Z{% endif %}">{% if thread.updated_on %}{{thread.updated_on|localtime}}Z{% else %}{{thread.created_on|localtime}}Z{% endif %}</time></td>
	</tr>
	{% endfor %}
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}<h2>No Forums Have Been Created In This Channel.</h2>
{% endif %}

{% endblock %}
