{% extends "layout/profile.html" %}
{% block content %}
{% block javascript %}
<script src="{{_base_url}}/static/js/jquery-1.9.0.js"></script>
<script src="{{_base_url}}/static/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="{{_base_url}}/static/js/bootstrap.min.js"></script>    
<script src="{{_base_url}}/static/js/jquery.dataTables.js"></script>
<script src="{{_base_url}}/static/js/DT_bootstrap.js"></script>


<script type="text/javascript" src="{{_base_url}}/static/js/custom/show_topics.js"></script>

<!--- <script type="text/javascript">
  jQuery(document).ready(function() {
    $('#per_page').click(function() {
    $.ajax({
    url: "/main/perpage/" + $('#per_page').val(),
    type: "put"
    });
    });
    
    $('#locale').click(function() {
    $.ajax({
    url: "/main/locale/" + $(this).val(),
    type: "put"
    });
    });
    
    $('#back_to_userimage').click(function() {
    alert("Reset Avatar: " + $(this).val());
    $.ajax({
    url: "/main/avatar/" + $('#back_to_userimage').val(),
    type: "delete"
    });
    });
    $('.unfollow_btn').click(function(){
    $reload();
    
  });
  });
</script> -->
{% endblock %}
{# Uncomment for debugging; it dumps all session variables on screen {{_session}}  #}
<div class="result"></div>
<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 25px; margin-top: 5px; background: #fff;" id="main-section">
  <div class="span12">
    <div class="span2">
      <!-- Hidden comment{# Make sure there are no blanks in the src=" no_blank_prior_and_after " otherwise the path is broken and no avatar/userimage shows up at all. #} -->
      <!-- <img src="/{% if profile.avatar %}{{profile.avatar}}{% else %}{{profile.userimage}}{% endif %}" class="img-rounded" height="150px" width="200px" /> -->
      <img src="{{profile|picture}}" class="img-rounded" height="150px" width="200px" />
      <div class="container" style="margin-top: 25px;">
	<h4>{% trans "Strengths" %}</h4>
	<ol>
	  <li>{{profile.strength1}}</li>
	  <li>{{profile.strength2}}</li>
	  <li>{{profile.strength3}}</li>
	  <li>{{profile.strength4}}</li>
	  <li>{{profile.strength5}}</li>
	</ol>
      </div>
    </div>
    <div class="span10">
      <h1>{{profile.owner.fullname}}</h1>
      <p class="lead muted"><a href="mailto:{{profile.owner.email}}">{{profile.owner.email}}</a><br />  {{profile.job_title}}</p>
      <pre>{% if profile.about_me %}{{profile.about_me}}{% else %}No About Me Has been added for this user{% endif %}</pre>
    </div>
  </div>
</div>
{% endblock %}
