{% extends "layout/topics.html" %}
{% block javascript %}
<!-- TinyMCE -->
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_config.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/custom/show_topics.js"></script>
<script>
    $(document).ready(function() {
	
	$('#icon-tooltip1').tooltip('hide');
	$('#icon-tooltip2').tooltip('hide');
        $('#reply_btn_primary').click(function() {
	    tinyMCE.activeEditor.setContent('<span>{% if owner.profile.signature %}{{owner.profile.signature|linebreaks|escapejs}}{% endif %}</span>');
    });
    $('.timeago').timeago();
    });

</script>

{% endblock %}


{% block content %}
<div class="result"></div>
<div class="container" id="main-section">
  {% if boss_flash %}
  {% for flash in boss_flash %}
  <div class="alert alert-{{flash.method}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flash.message }}
  </div>
  {% endfor %}
  {% endif %}
  <ul class="breadcrumb">
    <li><a href="{% url controller="forum" action="index" %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="{% url action="show_forums" id=thread.forum.channel.id %}"> {{thread.forum.channel.name}}</a><span class="divider">/</span></li>
    <li><a href="{% url action="show_threads" id=thread.forum.id %}">{{thread.forum.name}}</a><span class="divider">/</span></li>
    <li class="active">{{thread.name|truncatechars:25}}</li>
    <li class="pull-right">{% if followed %} <i class="icon-star" id="icon-tooltip1" title="Followed" data-toggle="tooltip"></i> {% endif %}{% if bookmarked %} <i class="icon-bookmark" id="icon-tooltip2" title="Bookmarked" data-toggle="tooltip"></i> {% endif %}</li>
  </ul>
  <div class="row-fluid">
    <div class="page-header">
      <h2>{{thread.name|title}} <small class="phone-hidden"> {% if thread.tags %}{% with tags = thread.tags|parse_tags %}{% for tag in tags %}<a class="label label-info">{{tag}}</a> {% endfor %}{% endwith %}{% endif %}</small>
  	<span class="pull-right">
  	  <h4>{% if thread.votes %}{{thread.votes}} Vote{{thread.votes|pluralize}}{% else %}{% endif %}
  	    {% if vote %}
  	    <button title="You have already voted" data-toggle="tooltip" class="btn btn-mini disabled"><i class="icon-chevron-up"></i></button>
  	    <button title="You have already voted" data-toggle="tooltip" class="btn btn-mini disabled"><i class="icon-chevron-down"></i></button>
  	    {% else %}
  	    <button title="Vote Thread Up" data-toggle="tooltip" class="btn btn-mini vote_up_thread_btn" id="{{thread.id}}" owner="{{owner.id}}"><i class="icon-chevron-up"></i></button>
  	    <button title="Vote Thread Down" data-toggle="tooltip" class="btn btn-mini vote_down_thread_btn" id="{{thread.id}}" owner="{{owner.id}}"><i class="icon-chevron-down"></i></button>
  	    {% endif %}
  	    <div class="btn-group">
  	      <a class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i> <span class="caret"></span></a>
  	      <ul class="dropdown-menu">
  		{% if followed %}
  		<li><a href='#' subject="{{followed.id}}" class='unfollow_btn'>Unfollow</a></li>
  		{% else %}
  		<li><a href='#' subject="{{thread.id}}" class='follow_btn'>Follow</a></li>
  		{% endif %}
  		{% if owner.permissions|user_level == "Admin" %}
  		<li class="divider"></li>
  		<li>{% if thread.open %}<a href="#" class="close_thread_btn" id="{{thread.id}}">Close Thread</a>{% else %}<a href="#" class="reopen_thread_btn" id="{{thread.id}}">Reopen Thread</a>{% endif %}</li>
  		<!-- <li class="disabled"><a>Edit Discussion</a></li> -->
  		<!-- <li class="disabled"><a>Delete</a></li> -->
  		{% endif %}
  	      </ul>
  	    </div>
  	  </h4>
  	</span>
      </h2>
    </div>
  </div>
  <!--- FIRST POST 
  <div class="row-fluid">
    <div class="span1">
      <img src="{{ thread.owner.profile|picture }}" class="img-rounded" width="100%"/>
    </div>
    <div class="span11">
      <div class="chat">
  	<div class="bubble span12">
  	  <div class="span12 row-fluid">
  	    <span>
  	      {% if thread.owner.profile %}
  	      <a href="{% url action="show_user" id=thread.owner.profile.id %}">{{thread.owner.fullname}}</a>
              <small> {% else %}{{thread.owner.fullname}}{% endif %} <br /><time class="timeago" datetime="{{thread.created_on|localtime}}">{{thread.created_on|localtime}}</time> - {{thread.owner.permissions|user_level}}</small></span>
      </div>
    </div>
  	  <div class="span12" style="margin: 0px">
            <pre style="overflow: auto;
  			padding: 0.0em 0.5em 0.3em 1.5em;
  			white-space: pre-wrap;                 /* CSS3 browsers  */
  			white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  			white-space: -pre-wrap;                /* Opera 4 thru 6 */
  			white-space: -o-pre-wrap;              /* Opera 7 and up */
  			word-wrap: break-word;
  			border: none;
  			background: none;">{{thread.comments|safe}}</pre>
  	  </div>
  	</div>
      </div>
    </div>
  </div>
  -->
<div class="row-fluid">
<div class="span1 user_info">
  <!-- <img src="{{_base_url}}{% if thread.owner.profile.avatar %}{{thread.owner.profile.avatar}}{% else %}{{thread.owner.profile.userimage}}{% endif %}" class="img-rounded" width="100px"/> -->
  <img src="{{ thread.owner.profile|picture }}" class="img-rounded" />
</div>
<div class="span11 thread_user">
  {% if thread.owner.profile %}
    <a href="{% url action="show_user" id=thread.owner.profile.id %}">{{thread.owner.fullname}}</a>
  {% else %}{{thread.owner.fullname}}{% endif %}
    <br /><small><time class="timeago" datetime="{{thread.created_on|localtime}}">{{thread.created_on|localtime}}</time> - {{thread.owner.permissions|user_level}}</small></span>
</div>
<div class="row-fluid">
  <div class="span12 comments">
    <pre style="overflow: auto;
        white-space: pre-wrap;                 /* CSS3 browsers  */
        white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
        white-space: -pre-wrap;                /* Opera 4 thru 6 */
        white-space: -o-pre-wrap;              /* Opera 7 and up */
        word-wrap: break-word;
        ">{{thread.comments|safe}}
    </pre>
  </div>
</div>

  <!--SOLVED POST -->
  {% if solved %}
  <span class="pull-right"><a href="#solvedtopic" class="btn btn-small btn-success" data-toggle="collapse">See Solution <i class="icon-ok icon-white"></i></a></span>
  <div class="row-fluid collapse" id="solvedtopic">
    <div class="reply">
      <div class="row-fluid">
    <div class="span1 user_info">
      <img src="{{ solved.owner.profile|picture }}" class="img-rounded" height="100%"/>
    </div>
    <div class="span11 thread_user">
      {% if solved.owner.profile %}
        <a href="{% url action="show_user" id=solved.owner.profile.id %}">{{solved.owner.fullname}}</a>
      {% else %}{{solved.owner.fullname}}{% endif %}
        <br /><small><time class="timeago" datetime="{{solved.created_on|localtime}}">{{solved.created_on|localtime}}</time> - {{solved.owner.permissions|user_level}}</small>
      <span class="pull-right">
        <button href="#" title="Vote Up" class="vote_up_btn  
        
          {% if topicvotes %}{% for vote in topicvotes %}
          {% if vote.object == topic.id %} voted
          {% endif %}
          {% endfor %}
          {% endif %} 
        " id="{{solved.id}}" owner="{{owner.id}}"
          >
          {% if solved.votes %} <span>{{solved.votes}} </span>{% else %}<span>0 </span>{% endif %}<i class="fa fa-thumbs-o-up"></i>
                   {% if solved.thread_id.owner_id == owner.id or owner.permissions|user_level == "Admin" %}
          <button title="Reject" id="solved_topic_btn" name="solved_topic_btn" value="{{solved.id}}" class="opacity_btn reject_button">
          <i class="fa fa-times"></i>
          </button>
          {% endif %}
      </span>


    </div>
    </div>
     <div class="row-fluid">
          <div class="span12 comments">
            <pre style="overflow: auto;
              white-space: pre-wrap;                 /* CSS3 browsers  */
              white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
              white-space: -pre-wrap;                /* Opera 4 thru 6 */
              white-space: -o-pre-wrap;              /* Opera 7 and up */
              word-wrap: break-word;">{{solved.body|safe}}</pre>

          </div>
        </div>
        </div>
  </div>
  {% endif %}

  <!-- NAV TABS -->

  {% if topics|length > 1 %}
  <ul class="nav nav-tabs">
    <li class="active"><a href="#topics" data-toggle="tab">Latest</a></li>
    <li><a href="#votetopics" data-toggle="tab">Highest Rated</a></li>
  </ul>
  {% endif %}

  <!--- Topics sorted by created_on date -->
  <div class="tab-content">
    <div class="tab-pane active fade in" id="topics">
      {% for topic in topics %}
      <div class="reply">
      <div class="row-fluid">
  	<div class="span1 user_info">
  	  <img src="{{ topic.owner.profile|picture }}" class="img-rounded" height="100%"/>
  	</div>
    <div class="span11 thread_user">
      {% if topic.owner.profile %}
        <a href="{% url action="show_user" id=topic.owner.profile.id %}">{{topic.owner.fullname}}</a>
      {% else %}{{topic.owner.fullname}}{% endif %}
        <br /><small><time class="timeago" datetime="{{topic.created_on|localtime}}">{{topic.created_on|localtime}}</time> - {{topic.owner.permissions|user_level}}</small>
      <span class="pull-right">
        <button href="#" title="Vote Up" class="vote_up_btn  
        
          {% if topicvotes %}{% for vote in topicvotes %}
          {% if vote.object == topic.id %} voted
          {% endif %}
          {% endfor %}
          {% endif %} 
        " id="{{topic.id}}" owner="{{owner.id}}"
          >
          {% if topic.votes %} <span>{{topic.votes}} </span>{% else %}<span>0 </span>{% endif %}<i class="fa fa-thumbs-o-up"></i>
                  </button>
      {% if solved %}{% else %}
                  {% if topic.thread_id.owner_id == owner.id or owner.permissions|user_level == "Admin" %}
                  <button title="Accept" class="btn btn-mini btn-link solved_button opacity_btn" value="{{topic.id}}/{{owner.id}}">
                    <i class="fa fa-check"></i>
                  </button>
      {% endif %}
      {% endif %}
      </span>


    </div>
    </div>
     <div class="row-fluid">
  	      <div class="span12 comments">
        		<pre style="overflow: auto;
    			    white-space: pre-wrap;                 /* CSS3 browsers  */
    			    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    			    white-space: -pre-wrap;                /* Opera 4 thru 6 */
    			    white-space: -o-pre-wrap;              /* Opera 7 and up */
    			    word-wrap: break-word;">{{topic.body|safe}}</pre>

  	      </div>
  	    </div>
        </div>
      {% endfor %}
    </div>
{#    <!-- 	  <\!---- EDIT MODAL -------------------------------------------------------\-> -->
    <!-- 	  {% if owner.id == topic.owner.id or owner.permissions|user_level == "Admin" %} -->
    
    <!-- 	    <\!-- <div id="{{topic.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -\-> -->
    <!-- 	    <\!--   <div class="modal-header"> -\-> -->
    <!-- 	    <\!-- 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -\-> -->
    <!-- 	    <\!-- 	<h3 id="myModalLabel">Edit Your Post</h3> -\-> -->
    <!-- 	    <\!--   </div> -\-> -->
    <!-- 	    <\!--   <div class="modal-body"> -\-> -->
    <!-- 	    <\!-- 	<form method="post" id="edit_topic_form" name="edit_topic_form" action="/main/edit_topic/{{topic.id}}"> -\-> -->
    <!-- 	    <\!-- 	  <div class="row-fluid"> -\-> -->
    <!-- 	    <\!-- 	    <div class="span12"> -\-> -->
    <!-- 	    <\!-- 	      <input type="hidden" name="topic_id" id="topic_id" value="{{topic.id}}" /> -\-> -->
    <!-- 	    <\!-- 	      <textarea name="body" id="body" class="span12" rows="15" autofocus >{{topic.body}}</textarea> -\-> -->
    <!-- 	    <\!-- 	    </div> -\-> -->
    <!-- 	    <\!-- 	  </div> -\-> -->
    <!-- 	    <\!--   </div> -\-> -->
    <!-- 	    <\!--   <div class="modal-footer"> -\-> -->
    <!-- 	    <\!-- 	<button class="btn btn-success" type="submit">Update</button> -\-> -->
    <!-- 	    <\!-- 	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> -\-> -->
    <!-- 	    <\!--   </form> -\-> -->
    <!-- 	    <\!--   </div> -\-> -->
    <!-- 	    <\!-- </div> -\-> -->
  #} 
    <!------------------ Votes Sorted By Votes -->
    <div class="tab-pane fade in" id="votetopics">
      {% for topic in votetopics %}
      <div class="reply">
      <div class="row-fluid">
    <div class="span1 user_info">
      <img src="{{ topic.owner.profile|picture }}" class="img-rounded" height="100%"/>
    </div>
    <div class="span11 thread_user">
      {% if topic.owner.profile %}
        <a href="{% url action="show_user" id=topic.owner.profile.id %}">{{topic.owner.fullname}}</a>
      {% else %}{{topic.owner.fullname}}{% endif %}
        <br /><small><time class="timeago" datetime="{{topic.created_on|localtime}}">{{topic.created_on|localtime}}</time> - {{topic.owner.permissions|user_level}}</small>
      <span class="pull-right">
        <button href="#" title="Vote Up" class="vote_up_btn  
        
          {% if topicvotes %}{% for vote in topicvotes %}
          {% if vote.object == topic.id %} voted
          {% endif %}
          {% endfor %}
          {% endif %} 
        " id="{{topic.id}}" owner="{{owner.id}}"
          >
          {% if topic.votes %} <span>{{topic.votes}} </span>{% else %}<span>0 </span>{% endif %}<i class="fa fa-thumbs-o-up"></i>
                  </button>
      {% if solved %}{% else %}
                  {% if topic.thread_id.owner_id == owner.id or owner.permissions|user_level == "Admin" %}
                  <button title="Accept" class="btn btn-mini btn-link solved_button opacity_btn" value="{{topic.id}}/{{owner.id}}">
                    <i class="fa fa-check"></i>
                  </button>
      {% endif %}
      {% endif %}
      </span>


    </div>
    </div>
     <div class="row-fluid">
          <div class="span12 comments">
            <pre style="overflow: auto;
              white-space: pre-wrap;                 /* CSS3 browsers  */
              white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
              white-space: -pre-wrap;                /* Opera 4 thru 6 */
              white-space: -o-pre-wrap;              /* Opera 7 and up */
              word-wrap: break-word;">{{topic.body|safe}}</pre>
          </div>
        </div>
        </div>
      {% endfor %}
   </div>
   <div class="thread_actions">
  	{% if thread.open %}
    <a href="#myModal_reply" id="reply_btn_primary" role="button" class="btn btn-primary" data-toggle="modal" >Reply to Thread</a>
    {% else %}
    <a class="btn btn-primary disabled">Thread Closed</a>
    {% endif %}
    </div>
    </div>
    <!-- Modal -->
    <div id="myModal_reply" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  	<h3 id="myModalLabel">Reply to "{{thread.name}}"</h3>
      </div>
      <div class="modal-body">
  	<form method="post" id="new_topic_form" name="new_topic_form" action="/main/create_topic">
  	  <input type="hidden" id="owner_id" name="owner_id" class="" value="{{owner.id}}" />
  	  <input type="hidden" id="thread_id" name="thread_id" class="" value="{{thread.id}}" />
  	  <!-- [Id, ThreadId, OwnerId, Name, Body, CreatedOn, UpdatedOn] -->
  	  <div class="row-fluid">
  	    <div class="span12">
  	      <textarea name="body" id="body" class="span12" rows="60"> </textarea>
  	    </div>
  	  </div>
      </div>
      <div class="modal-footer">
  	<button class="btn btn-success" type="submit">Send Reply</button>
  	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </form>
      </div>
    </div>
  </div>
  
  {% endblock %}
