{% extends "layout/threads.html" %}
{% block javascript %}
<script src="{{_base_url}}/static/js/jquery.dataTables.js"></script>
<script src="{{_base_url}}/static/js/DT_bootstrap.js"></script>
<script src="{{_base_url}}/static/js/formatted-num.js"></script>
<!-- TinyMCE -->
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_config.js"></script>
<!-- <script type="text/javascript" src="{{_base_url}}/static/js/custom/show_threads.js"></script -->
<script type="text/javascript" src="{{_base_url}}/static/js/bootstrap-tagmanager.js"></script>
<!-- <script type="text/javascript" src="{{_base_url}}/static/js/datetime-us.js"></script> -->
<link rel="stylesheet" href="{{_base_url}}/static/css/bootstrap-tagmanager.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{_base_url}}/static/js/custom/jquery.timeago.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/custom/show_threads.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.start_tag').click(function() {
        tinyMCE.activeEditor.setContent('<span>{% if owner.profile.signature %}{{owner.profile.signature|linebreaks|escapejs}}{% endif %}</span>');
    });
    $('#tags').tagsManager({
	preventSubmitOnEnter: true,
	typeahead: true,
    	typeaheadAjaxSource: '/main/search_all_tags/',
    	typeaheadAjaxPolling: false,
    	delimeters: [188, 93, 32, 44]
    });
    $('#icon-tooltip1').tooltip('hide');
    $('#icon-tooltip2').tooltip('hide');
    $('.timeago').timeago();
    var oTable = $('#sorted-table').dataTable( {
	"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
	"sPaginationType": "bootstrap",
	"oLanguage": {
	    "sLengthMenu": "_MENU_ threads per page"},
	"aaSorting": [[ 2, 'desc' ]],
	"iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
	"aoColumns": [
	    null,
	    { "bVisible": false,
	      "sType": "date"},
	    { "iDataSort": 1},
	    { "sType": "formatted-num" },
	    { "sType": "formatted-num" },
	    { "bSortable": false }
	]
    });
	// Attaching the editor to the textarea is done in the config above
	// by the expression:
	// mode : "textareas"

        // Bookmark, opposite of below
    $('.bookmark_btn').click(function(){
        $.ajax({
            url: "/main/bookmark/" + $(this).attr('subject'),
            type: "put",
            complete: function(xhr,status){
                $('#bookmark_section_reload').load('/forum/show_threads/{{thread.id}} #bookmark_section_reload', function() {
                    $('.unbookmark_btn').click(function(){
                        $.ajax({
                            url: "/main/bookmark/" + $(this).attr('subject'),
                            type: "delete",
                            complete: function(xhr,status){
                                window.location.reload();
                            }
                        });
                    });
                    $('.icon-book-top').show();
                });
            }
        })
    });
    // Remove Bookmark, opposite of above
    $('.unbookmark_btn').click(function(){
        $.ajax({
            url: "/main/bookmark/" + $(this).attr('subject'),
            type: "delete",
            complete: function(xhr,status){
                $('#bookmark_section_reload').load('/forum/show_threads/{{thread.id}} #bookmark_section_reload', function() {
                    $('.bookmark_btn').click(function(){
                        $.ajax({
                            url: "/main/bookmark/" + $(this).attr('subject'),
                            type: "put",
                            complete: function(xhr,status){
                                window.location.reload();
                            }
                        });
                    });
                    $('.icon-book-top').hide();
                });
            }
        })
    });
    
    
    
    
    // Follow, opposite of below
    $('.follow_btn').click(function(){
        $.ajax({
            url: "/main/follow/" + $(this).attr('subject'),
            type: "put",
            complete: function(xhr,status){
                $('#follow_section_reload').load('/forum/show_threads/{{thread.id}} #follow_section_reload', function() {
                    $('.unfollow_btn').click(function(){
                        $.ajax({
                            url: "/main/follow/" + $(this).attr('subject'),
                                type: "delete",
                                complete: function(xhr,status){
                                    window.location.reload();
                                }
                            });
                        });
                        $('.icon-star-top').show();
                    });
                }
            })
        });
        $('.unfollow_btn').click(function(){
            $.ajax({
                url: "/main/follow/" + $(this).attr('subject'),
                type: "delete",
                complete: function(xhr,status){
                    $('#follow_section_reload').load('/forum/show_threads/{{thread.id}} #follow_section_reload', function() {
                        $('.follow_btn').click(function(){
                            $.ajax({
                                url: "/main/follow/" + $(this).attr('subject'),
                                type: "put",
                                complete: function(xhr,status){
                                    window.location.reload();
                                }
                            });
                        });
                        $('.icon-star-top').hide();
                    });
                }
            })
        });
      $('.tag_link').click(function(){
	  var searchterm = $(this).attr("value");
          $.ajax({
              url: "/search/tag_search/" + searchterm,
              type: "get",
              success: function(data) {
                  $('#main-section').fadeOut( function() {
		      $('.result').html(data, function() {
			  $('.result').slideDown();
		      });
		  });
              },
              error: function(xhr, status, error){
                  alert("Something blew up: " + status + " Error: " + error);
              }
          });
      });
    });
</script>
{% endblock %}
{% block content %}
<div id="notify" style="position:absolute; bottom: 15px; left:5px;"></div><div class="result"></div>
<div class="container" style="border: 1px solid #ccc; border-radius: 5px; padding: 20px; background: #fff;" id="main-section">

 

 {% if boss_flash %}                                                        
  {% for flash in boss_flash %}                                              
  <div class="alert alert-{{flash.method}} fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ flash.message }}
  </div>
  {% endfor %}
  {% endif %}  
  <ul class="breadcrumb">
    <li><a href="{% url controller="forum" action="index" %}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="{% url action="show_forums" id=thread.channel.id %}">{{thread.channel.name}}</a> <span class="divider">/</span></li>
    <li class="active">{{thread.name}}</li>
    <li class="pull-right">
      {% if followed %} 
      <i class="icon-star icon-star-top" id="icon-tooltip1" title="Followed" data-toggle="tooltip"></i> 
      {% else %}
      <i class="icon-star icon-star-top" id="icon-tooltip1" title="Followed" data-toggle="tooltip" style="display:none;"></i>
      {% endif %}
      {% if bookmarked %} 
      <i class="icon-bookmark icon-book-top" id="icon-tooltip2" title="Bookmarked" data-toggle="tooltip"></i> 
      {% else %}
      <i class="icon-bookmark icon-book-top" id="icon-tooltip2" title="Bookmarked" data-toggle="tooltip" style="display:none;"></i>
      {% endif %}
    </li>
  </ul>
  <div class="page-header">
    <h2>{{thread.name}}</h2>
    <span class="pull-right" style="margin-top: -45px;">
      <button href="#myModal" class="btn btn-success start_tag" role="button" data-toggle="modal">Start A Discussion <i class="icon-edit icon-white"></i></button>
      <div class="btn-group">
	<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">More	<span class="caret"></span></button>
	<ul class="dropdown-menu">
	  <div id="follow_section_reload">
	  {% if followed %}
	  <li><a href="#" subject="{{followed.id}}" class="unfollow_btn">Unfollow</a></li>
	  {% else %}
	  <li><a href="#" subject="{{thread.id}}" class="follow_btn">Follow</a></li>
	  {% endif %}
	  </div>
	  <div id="bookmark_section_reload">
	  {% if bookmarked %}
	  <li><a href="#" subject="{{bookmarked.id}}" class="unbookmark_btn">Remove Bookmark</a></li>
	  {% else %}
	  <li><a href="#" subject="{{thread.id}}" class="bookmark_btn">Bookmark</a></li>
	  {% endif %}
	  </div>
	  {% if owner.permissions|user_level == "Admin" %}
	  <li class="divider"></li>
	  <li><a href="{% url controller="main" action="edit_forum" id=thread.id %}">Edit</a></li>
	  {% endif %}
	</ul>
      </div>
    </span>
  </div>

{% if threads %}
  <table class="table table-striped" id="sorted-table">
    <thead>
      <tr>
	<th>Thread</th>
	<th>UpdatedTime</th>
	<th><center>Last Update</center></th>
	<th class="hidden-phone"><center>Comments</center></th>
	<th class="hidden-phone"><center>Votes</center></th>
	<th class="hidden-phone"></th>
      </tr>
    </thead>
    <tbody>
      {% for thread in threads %}
      <tr>
	<td>
	  <a href="{% url action="show_topics" id=thread.id %}" {% if thread.open == "false" %}style="color: #9d261d" title="Thread Closed!"{% endif %}{% if thread.id|if_solved %}style="color: #46a546;" title="Thread Solved!"{% endif %}>
	    <h5 style="margin: 5px 0px;">
	      {% if thread.open == "false" %}<i class="icon-lock"></i>{% endif %}{% if thread.id|if_solved %}<i class="icon-ok"></i>{% endif %}
	      {{thread.name|title|truncatechars:50|default:"No Name!"}} 
	      {% if thread.tags %}
	      <div class="pull-right">{% with all_tags = thread.tags|parse_tags %}
		{% for tag in all_tags %}
		<a href="#" value="{{tag|cut:" "}}" class="label label-info tag_link">{{tag}}</a>
		{% endfor %}{% endwith %}
		{% follow subject=thread.id owner=owner.id success="<i title='Followed' class='icon-star'></i>" %}
	      </div>{% else %}{% endif %}
	    </h5>
	  </a>
	  <blockquote style="border-left: none; margin: 5px 0px; padding-left: 10px;">
	    <p>
	      {% if thread.topics|last_comment %}{{thread.topics|last_comment|striptags|truncatechars:75}}{% else %}{% if thread.comments %}{{thread.comments|striptags|truncatechars:75}}{% else %}{% endif %}{% endif %}
	    </p>
	    {% if owner|can_delete %}
	    <div class="btn-group pull-right">
	      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="icon-cog"></i>
		<span class="caret" style="margin-top: 8px;"></span>
	      </a>
	      <ul class="dropdown-menu pull-left">
		<li>{% if thread.open == "true" %}<a href="#" class="close_thread_btn" id="{{thread.id}}">Close Thread</a>{% else %}<a href="#" class="reopen_thread_btn" id="{{thread.id}}">Reopen Thread</a>{% endif %}</li>
		<li class="disabled"><a href="#" class="edit_thread_btn" id="{{thread.id}}">Edit</a></li>
		<li class="disabled"><a href="#" class="merge_thread_btn" id="{{thread.id}}">Merge</a></li>
		<li><a href="#" class="delete_thread_btn" id="{{thread.id}}">Delete</a></li>
	      </ul>
	    </div>
	    {% endif %}
	    <small>{% if thread.topics %}{{thread.topics|last_author}}{% else %}{{thread.owner.fullname|default:"stuff"}}{% endif %}</small>
	  </blockquote>
	</td>
	<td>{% if thread.updated_on %}{{thread.updated_on|localtime}}Z{% else %}{{thread.created_on|localtime}}Z{% endif %}</td>
	<td style="vertical-align: middle; text-align: center;"><time class="timeago" datetime="{% if thread.updated_on %}{{thread.updated_on|localtime}}{% else %}{{thread.created_on|localtime}}{% endif %}">{% if thread.updated_on %}{{thread.updated_on|localtime}}{% else %}{{thread.created_on|localtime}}{% endif %}</time></td>
	<td class="hidden-phone" style="vertical-align: middle; text-align: center;"><h3>{% if thread.topics|length %}{{thread.topics|length|add:"1"}}{% else %}1{% endif %}</h3></td>
	<td class="hidden-phone" style="vertical-align: middle; text-align: center;">
	      <h3>{% if thread.votes %}{{thread.votes}}{% else %}0{% endif %}</h3>
	</td>
	<td class="hidden-phone" style="vertical-align: middle; text-align: center;">
	  <div class="row-fluid">
	  <button class="btn vote_up_btn btn-mini {% vote subject=thread.id owner=owner.id success="disabled" %}" id="{{thread.id}}" owner="{{owner.id}}"><i class="icon-plus"></i></button>
	  </div>
	  <div class="row-fluid">
	    <button class="btn vote_down_btn btn-mini {% vote subject=thread.id owner=owner.id success="disabled" %}" id="{{thread.id}}" owner="{{owner.id}}"><i class="icon-minus"></i></button>
	  </div>
	</td>

      </tr>
{% empty %}
 {% endfor %}
    </tbody>
  </table>
 {% else %}
     <h3>No discussions have been created yet. You can be the first!</h3>
 {% endif %}    
  
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height: auto;margin-left: -30%; width: 60%;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel">Create New Discussion</h3>
    </div>
    <div class="modal-body" style="overflow: visible;">
      <form method="post" id="new_thread_form" name="new_thread_form" action="/main/create_thread">
	<input type="hidden" id="owner_id" name="owner_id" class="" value="{{owner.id}}" />
	<input type="hidden" id="forum_id" name="forum_id" class="" value="{{thread.id}}" />
	<!-- [Id, ForumId, OwnerId, Name, Body, CreatedOn, UpdatedOn] -->
	<div class="row-fluid">
	  <div class="span2">
	    <label for="thread_name" id="thread_name_label" name="thread_name_label">Discussion Name</label>
	  </div>
	  <div class="span9">
	    <input class="span12" type="text" style="height: 25px;" id="thread_name" name="thread_name" maxlength="255" placeholder="Name of the Discussion" required="required" />
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span2">
	    <label for="comments" id="comment_label" name="comment_label">Comment</label>
	  </div>
	  <div class="span9">
	    <textarea name="comments" id="comments" rows="3"></textarea>
	  </div>
	</div>
	<div class="row-fluid" style="margin-top: 10px;">
	  <div class="span2">
	    <label for="thread_tags" id="thread_tags_label" name="thread_tags_label">Tags: </label>
	  </div>
	  <div class="span9">
	    <input type="text" id="tags" name="tags" autocomplete="off" class="input-small" maxlength="255" placeholder="Start Typing Tags" />
	  </div>
	</div>
    </div>
    <div class="modal-footer">
      <div class="row-fluid">
	<button type="submit" id="" name="" class="btn btn-primary" value="Create">Create</button>
	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
