{% extends "layout/errors.html" %}
{% block content %}
<div class="container-fluid well">
  <h2>OOOPS! 404!</h2>
  <h4>
    We looked left and right and up and down and we are so sorry, the path "{{uri}}" was not found on our servers.
  </h4>
</div>
{% endblock %}
