{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {

  });
</script>
{% endblock %}


{% block content %}
<div class="container" style="background: #fff; border:1px solid #ccc; border-radius: 5px; padding: 20px;">
  <h3>Create a new Channel <span class="pull-right"><a href="{% url controller="dashboard" action="index" %}" class="btn btn-success">Back to Dashboard</a></span></h3>
  <form method="post" id="create_channel" name="create_channel" action="create_channel" >
    <div class="row-fluid" style="padding: 15px;">
      <div class="span2"><label for="channel_name" id="channel_name_label" name="channel_name_label">Channel Name</label></div>
      <div class="span10"><input type="text" id="channel_name" name="channel_name" class="span8" style="height:25px;" placeholder="Name of the Channel" value="" autofocus required="required" /></div>
    </div>
    <div class="row-fluid">
      <div class="span2"><label>Channel Description</label></div>
      <textarea name="description" id="description" class="span10" rows="5"> </textarea>
    </div>
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10"><input type="submit" class="btn btn-primary span1 offset7" value="Save" /></div>
    </div>
    
  </form>

  <div class="container-fluid">
    <h4>Already existing Channels</h4>
    <ul>
    {% for channel in channels %}
    <li>{{ channel.name }}</li>
    {% empty %}
    Nothing to display
    {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
