{% extends "layout/application.html" %}


{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {
      $('.delete_forum').click(function(){
	  if( confirm("Are you sure you want to delete the Forum?\n\nAll Posts and Discussions  will be lost!!") ) {
	      return true;
	  } else { 
	      return false;
	  }
      })

      $('#create_forum').submit(function(){
	  
	  if(!$('#channel_id').val()) {
	      alert("Select a channel.");
	      $('#channel_id').focus();
	      return false;
	  } 
	  
	  if(!$('#owner_id').val()) {
	      alert("Select an owner.");
	      $('#owner_id').focus();
	      return false;
	  }

	  if(!$('#forum_name').val()) {
	      alert("Please enter a name for the forum");
	      $('#forum_name').focus();
	      return false;
	  }

	  if(!$('#comments').val()) {
	      alert("Please enter some brief information\nwhat the forum is for.");
	      $('#comments').focus();
	      return false;
	  }

	  if($('#comments').val().length < 10) {
	      alert("Please provide at least 10 characters\nfor a brief description.");
	      $('#comments').focus();
	      return false;	      
	  }


	  // $.ajax({
	  //     url: "/main/have_forum/" + $('#forum_name').val(),
	  //     // beforeSend: function(){ alert("Sending stuffffffff " + $('#forum_name').val()); },
	  //     complete: function(data) {alert("Complete! No Such entry" + data );},
	  //     // success: function(){alert("Yay no such thing");},
	  //     error: function(xhr, err, status){alert("Already exists!");}
	  // });

	  return true;
      });
  });
</script>
{% endblock %}
{% block content %}

<div class="container" style="background: #fff; border:1px solid #ccc; border-radius: 5px; padding: 20px;">
<div class="page-header">
    <h2>Create Forum <span class="pull-right"><a href="{% url controller="dashboard" action="index" %}" class="btn btn-success">Back to Dashboard</a></span></h2>
</div>
 
  <form method="post" id="create_forum" name="create_forum" action="create_forum">
    <div class="row-fluid">
      <div class="span2"><label for="channels" id="channels_label" name="channels_label">Belongs to Channel</label></div>
      <div class="span2">
	<select name="channel_id" id="channel_id">
	  <option value=""></option>
	  {% for channel in channels %}
	  <option value="{{channel.id}}">{{channel.name}}</option>
	  {% empty %}
	  {% endfor %}
	</select>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"><label for="owner_id" id="owner_id_label" name="owner_id_label">Belongs to Owner</label></div>
      <div class="span2">
	<select name="owner_id" id="owner_id">
	  <option value=""></option>
	  {% for owner in owners %}
	  <option value="{{owner.id}}" {% if forum.owner_id == owner.id %}selected="selected"{% endif %}>{{owner.firstname}} {{owner.lastname}}</option>
	  {% empty %}
	  {% endfor %}
	</select>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"><label for="forum_name" id="forum_name_label" name="forum_name_label">Forum Name</label></div>
      <div class="span10"><input type="text" id="forum_name" name="forum_name" class="span9" placeholder="Name of the Forum" value="" autofocus required="required" style="height:30px;" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"><label for="comments" id="comments_label" name="comments_label">Comment</label></div>
      <div class="span10">
	<textarea name="comments" id="comments" rows="10" class="span9" ></textarea>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span7">
	<div class="pull-right">
	<a href="{% url controller="dashboard" action="index" %}" class="btn btn-primary" style="height: 20px;padding-top: 2px;">Cancel</a>
	<input type="submit" class="btn btn-primary" value="Save" />
	</div>
	</div>
    </div>
  </form>
  <div class="container-fluid well" style="background: #fff;">
    <legend>Existing Forums</legend>
    <table class="table table-hover table-condensed" id="sorted-table" name="sorted-table">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Comments</th>
	  <th style="text-align: center;">Modify</th>
	</tr>
      </thead>
      <tbody>
	{% for forum in forums %}
	<tr>
	  <td><a href="{% url controller="forum" action="show_threads" id=forum.id %}">{{forum.name}}</a></td>
	  <td>{{forum.comments|striptags}}</td>
	  <td style="text-align: center;">
	    <a href="{% url action="edit_forum" id=forum.id %}"><i title="edit" class="icon-edit"></i></a>
	    <a href="{% url action="remove_forum" id=forum.id %}" class="delete_forum" ><i title="delete" class="icon-remove"></i></a>
	  </td>
	</tr>
	{% empty %}
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
