{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {

  });
</script>
{% endblock %}

{% block content %}
<div class="container" style="background: #fff; border:1px solid #ccc; border-radius: 5px; padding: 20px;">
  <h3>Edit Forum '{{forum.name}}'</h3>
  <form method="post" id="edit_forum" name="edit_forum">

    <div class="row-fluid">
      <div class="span2"><label for="channels" id="channels_label" name="channels_label">Belongs to Channel</label></div>
      <div class="span2">
	<select name="channel_id" id="channel_id">
	  <option value=""></option>
	  {% for channel in channels %}
	  <option value="{{channel.id}}" {% if forum.channel_id == channel.id %}selected="selected"{% endif %} >{{channel.name}}</option>
	  {% empty %}
	  {% endfor %}
	</select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2"><label for="owner_id" id="owner_id_label" name="owner_id_label">Belongs to Owner</label></div>
      <div class="span2">
	<select name="owner_id" id="owner_id">
	  <option value=""></option>
	  {% for owner in owners %}
	  <option value="{{owner.id}}" {% if forum.owner_id == owner.id %}selected="selected"{% endif %}>{{owner.firstname}} {{owner.lastname}}</option>
	  {% empty %}
	  {% endfor %}
	</select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2"><label for="forum_name" id="forum_name_label" name="forum_name_label">Forum Name</label></div>
      <div class="span10"><input style="height:30px;" type="text" id="forum_name" name="forum_name" class="span9" placeholder="Name of the Forum" autofocus required="required" value="{{forum.name}}"/>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2"><label for="comments" id="comments_label" name="comments_label">Comment</label></div>
      <div class="span10">
	<textarea name="comments" id="comments" rows="10" class="span9" >{{forum.comments}}</textarea>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span7">
	<div class="pull-right">
	<a href="{% url controller="dashboard" action="index" %}" class="btn btn-primary" style="height: 20px;padding-top: 2px;">Cancel</a>
	<input type="submit" class="btn btn-primary" value="Save" />
	</div>
	</div>
    </div>
  </form>

  <div class="container-fluid well">
    <h4>Already existing Forums</h4>
    <ul>
    {% for forum in forums %}
    <li>
      <strong>{{ forum.name }}</strong>&nbsp;{{forum.comments}}
      <a href="{% url action="edit_forum" id=forum.id %}">Edit</a>
      <a href="{% url action="remove_forum" id=forum.id %}">Remove</a>
    </li>
    {% empty %}
    Nothing to display
    {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
