<script>
jQuery(document).ready(function() {
    $('select.change_user_level').change(function() {
        $.ajax({
            url: "/main/change_user_level/" + $(this).val(),
            type: "put"
	});
    });
    // $('#user-sorted-table').dataTable( {
    //     "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    //     "sPaginationType": "bootstrap",
    //     "oLanguage": {
    //         "sLengthMenu": "_MENU_ categories per page"},
    //     "iDisplayLength": {% if owner.profile.per_page %}{{owner.profile.per_page}}{% else %}10{% endif %},
    //     "aaSorting": [[ 0, 'asc' ]],
    // });
});
</script>
<table class="table" id="user-sorted-table">
  <thead>
    <tr>
      <th>User's Name</th>
      <th>Current Role</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>
        {% if user.profile %}<a href="{% url controller="forum" action="show_user" id=user.profile.id %}">{{user.fullname}}</a>
        {% else %}{{user.fullname}}{% endif %}
      </td>
      <td>
        <select class="change_user_level">
          <option value="user/{{user.id}}" {% if user.permissions|user_level == "User" %}selected="selected"{% endif %}>User</option>
          <option value="admin/{{user.id}}" {% if user.permissions|user_level == "Admin" %}selected="selected"{% endif %}>Admin</option>
        </select>
      </td>
      <!-- <td> -->
      <!--      <a href="#" data-toggle="tooltip" title="promote" object="{{owner.id}}" class="promote_btn"> <i class="icon-thumbs-up"></i></a>  -->
      <!--      <a href="#" data-toggle="tooltip" title="demote" object="{{owner.id}}" class="demote_btn"> <i class="icon-thumbs-down"></i></a> -->
      <!-- </td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>


