{% extends "layout/help.html" %}
{% block content %}
<script language="javascript">
jQuery(document).ready(function() {
    $('#add_help_btn').click(function(){
	$('#help_editor').fadeIn();
    })

    $('.cancel_btn').click(function(){
	if( confirm("Are you sure you want to cancel?\nAll edits will be lost.") ) {
	    $('#help_editor').fadeOut();
	}
    })

    $('.delete_help_btn').click(function(){
	if(confirm("Are you sure to delete this?")){
	    $.ajax({
		url: "/help/delete/" + $(this).val(),
		type: "delete",
		success: function(data, status){
		    $('#target').html(data);
		}
	    })
	}
    })

    $('.edit_help_btn').click(function(){
	$.ajax({
	    url: "/help/fetch/" + $(this).val(),
	    type: "get",
	    dataType: "json",
	    async: false,
	    success: function(data, status){
		console.log("data: "+ data);
		$('#topic').val(data);
		alert("success");
	    }
	});
	$('#help_editor').fadeIn();	
    })


    $('#help_editor_form').submit(function(){
	var topic = $('#topic').val();
	var category = $('#category').val();
	var help_text = $('#help_text').val();
	console.log("Topic" + topic);
	console.log("Category" + category);
	console.log("Help" + help_text);

	$.ajax({
	    url: "/help/create",
	    type: "post",
	    data: "&topic="+topic+"&category="+category+"&help_text="+help_text,
	    success: function(data, status) {
		$('#target').html(data);
	    }
	})
	return false;
    });
});
</script>
<div class="container-fluid well">
  <div id="help_editor" name="help_editor" style="display:none;">
    <form id="help_editor_form" name="help_editor_form" action="#">
      <fieldset>
	<legend>Create Help</legend>

	<div class="row-fluid">
	  <div class="span1">Category</div>
	  <div class="span4"><input type="text" id="category" name="category" class="input-block-level" placeholder="Category" value="" /></div>
	</div>

	<div class="row-fluid">
	  <div class="span1">Topic</div>
	  <div class="span6"><input type="text" id="topic" name="topic" class="input-block-level" placeholder="Topic" value="" /></div>
	</div>

	<div class="row-fluid">
	  <div class="span1">Detail</div>
	  <div class="span6"><textarea name="help_text" id="help_text" rows="10" class="input-block-level"></textarea></div>
	</div>

	<div class="row-fluid">
	  <div class="span6 offset1"><input type="submit" class="btn btn-primary" value="Save"></div>
	  <div class="span6 offset1"><input type="submit" class="btn btn-inverse cancel_btn" value="Cancel"></div>
	</div>
      </fieldset>
    </form>
  </div>


<div id="target" name="target">
{# include "help/_index.html" with help=help #}
<table class="table" style="">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Category</th>
      <th>Help Text</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for help_item in help %}
    <tr>
      <td>{{help_item.topic|default:"No Topic"}}</td>
      <td>{{help_item.category|default:"No Category"}}</td>
      <td>{{help_item.help_text|default:"No help text"}}</td>
      <td>
        <button class="btn btn-danger delete_help_btn" value="{{help_item.id}}">Delete</button>
        <button class="btn btn-success edit_help_btn" value="{{help_item.id}}">Edit</button>
      </td>
    </tr>
    {% empty %}
    No help entered yet
    {% endfor %}
  </tbody>
</table>
</div>
<button class="btn btn-primary" type="submit" id="add_help_btn">Add Help Item</button>
{% endblock %}
